.footer
  .contain
    .col-1-3
      +linkList('overview', 'footer-links')
        li
          a(href="https://github.com/twosigma/beaker-notebook") GitHub
        li
          a(href="http://www.twosigma.com/careers.html", target="_blank", onClick="_gaq.push(['_trackEvent', 'Careers', 'Link', 'careers']);") Careers

    .col-2-3
      p.
        Code and documentation licensed under Apache 2.0, available on GitHub </br> Code and documentation copyright Two Sigma Open Source, LLC</br>
        <a href="privacy">Privacy policy</a> -
        <a href="tou"> Terms of use </a>
      br
      p.
        Beaker is a product of Two Sigma Open Source, LLC ("TSOS"). The primary mission of TSOS, is to promote, manage and maintain open source software projects. TSOS is affiliated with Two Sigma Investments, LLC, Two Sigma Advisers, LLC and Two Sigma Securities, LLC, which (along with certain of their affiliates) engage in various investment advisory and broker-dealer activities. However, TSOS is not involved in the financial services businesses of these entities. Under no circumstances should any material on the site be used or considered as an offer to sell or a solicitation of an offer to buy any security, including any interest in any investment fund sponsored or managed by any Two Sigma entity, or any investment advisory services offered by any Two Sigma entity.
    .cl
