.header
  .contain
    .follow
      p Follow Beaker
      ul.social-icons
        li
          a(href='https://twitter.com/beakernotebook', target="_blank")
            img(src="img/twitter@2x.png")
        li
          a(href='https://github.com/twosigma/beaker-notebook', target="_blank")
            img(src="img/github@2x.png")
        li
          a(href='https://www.facebook.com/beakernotebook', target="_blank")
            img(src="img/facebook@2x.png")
        li
          a(href='https://plus.google.com/b/103696694815824084077/103696694815824084077/', target="_blank")
            img(src="img/gplus@2x.png")
    .cl
    .header-content
      .col-2-3
        img.main-logo(src="img/header_logo@2x.png")
        p.header-copy.
          Beaker is a notebook-style development environment for working interactively with large and complex datasets. Its plugin-based architecture allows you to switch between languages or add new ones with ease, ensuring that you always have the right tool for any of your analysis and visualization needs.
      .col-1-3.cta
        .btn.large.alt(onClick="_gaq.push(['_trackEvent', 'download', 'clicked'])") Get Beaker
        ul.os-download
          li Mac
          li Win
          li Linux
