.header
  .contain
    .follow
      p Follow Beaker
      ul.social-icons
        li
          a(href='#')
            img(src="img/twitter@2x.png")
        li
          a(href='#')
            img(src="img/github@2x.png")
        li
          a(href='#')
            img(src="img/facebook@2x.png")
    .cl
    .header-content
      .col-2-3
        img.main-logo(src="img/header_logo@2x.png")
        p.
          Beaker is a code notebook that allows you to analyze, visualize, and document data using multiple programming languages including Python, R, Groovy, Julia, and Node. Beaker's plugin-based polyglot architecture enables you to seamlessly
          switch between languages and add support for new languages.
      .col-1-3.cta
        .btn.large Get Beaker Beta
        ul.os-download
          li Mac
          li Win
          li Linux
