.header
  .contain
    .follow
      p Follow Beaker
      ul.social-icons
        li
          a(href='https://twitter.com/beakernotebook', target="_blank")
            img(src="img/twitter@2x.png")
        li
          a(href='https://github.com/twosigma/beaker-notebook', target="_blank")
            img(src="img/github@2x.png")
        li
          a(href='https://www.facebook.com/beakernotebook', target="_blank")
            img(src="img/facebook@2x.png")
        li
          a(href='https://plus.google.com/b/103696694815824084077/103696694815824084077/', target="_blank")
            img(src="img/gplus@2x.png")
    .cl
    .header-content

      .col-2-3
        .main-logo
          svg(width='55px', height='75px', viewbox='0 0 600 790', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
            g(transform='matrix(1,0,0,1,-219.244,-106.439)')
              path(d='M239.89,289.249L293.584,289.249L318.661,341.533L318.661,799.236L346.819,825.996L693.232,825.996L721.762,799.432L721.762,341.475L746.707,289.228L799.576,289.228L773.717,340.36L773.717,826.224L722.48,879.53L317.616,879.53L266.714,826.457L266.714,341.03L239.89,289.249Z', style='fill:white;')
            g(transform='matrix(1,0,0,1,-219.244,-106.439)')
              path(d='M373.419,396.178L666.524,396.178L666.524,772.449L373.627,772.449L373.419,396.178Z', style='fill:white;')
            g(transform='matrix(1.0164,0,0,1.0164,-224.968,-108.995)')
              circle(cx='425.264', cy='181.637', r='52.944', style='fill:white;')
            g(transform='matrix(2.40784,0,0,2.40784,-755.394,-522.242)')
              circle(cx='388.783', cy='303.979', r='11.274', style='fill:white;')
            g(transform='matrix(1.68901,0,0,1.68901,-607.657,-297.223)')
              circle(cx='569.535', cy='276.282', r='39.853', style='fill:white;')
          h1 Beaker
          span TM
          h2 The Data Scientist's Laboratory
        p.header-copy.
          Beaker is a notebook-style development environment for working interactively with large and complex datasets. Its plugin-based architecture allows you to switch between languages or add new ones with ease, ensuring that you always have the right tool for any of your analysis and visualization needs.
      .col-1-3.cta
        a.btn.large.alt(href="getting-started?scroll") &nbsp;Get Beaker
        ul.os-download
          li
            a(href="getting-started?osx&scroll") Mac
          li
            a(href="getting-started?windows&scroll") Win
          li
            a(href="getting-started?linux&scroll") Linux
        div &nbsp;
        a.btn.noroute.large.alt(href='https://lab.beakernotebook.com', target="_blank") Run Beaker
        ul.os-download
          li
            a.noroute(href='https://lab.beakernotebook.com', target="_blank") Cloud Hosted
