ul.block
  li.language.html5
    .lang-block Ht
    .label.
      HTML 5
  li.r.language
    .lang-block R
    .label.
      R
  li.julia.language
    .lang-block Jl
    .label.
      Julia
  li.node.language
    .lang-block N
    .label.
      Node.js
  li.python.language
    .lang-block Py
    .label.
      Python
  li.ruby.language
    .lang-block Rb
    .label.
      Ruby
  li.latex.language
    .lang-block La
    .label.
      Latex
  li.javascript.language
    .lang-block Js
    .label.
      Javascript
  li.groovy.language
    .lang-block Gr
    .label.
      Groovy
