- links = [{name: "overview", path: "index"}, {name: "videos", path: "videos"}, {name: "features", path: "features"}, {name: "getting started", path: "getting-started"}, {name: "community", path:"community"}, {name: "careers", path: "careers"}, {name: "faq", path: "faq"}]

mixin linkList(active, listClass)
  ul(class=listClass || "")
    each link in links
      li(class= link.name == "examples" ? "examples" : active == link.name ? "active" : "")
        a(href=link.path, class= link.name == "examples" ? "examples" : active == link.name ? "active" : "")= link.name

    block
