script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/underscore/underscore.js")
script(src="bower_components/backbone/backbone.js")
script(src="bower_components/backbone.marionette/lib/backbone.marionette.min.js")
script(src="js/router.js")
script(src="js/app.js")
