extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/about")
  meta(property="og:title", content="Beaker Notebook About")

block header
  +linkList('about beaker')
