extends layout

block header
  +linkList('about beaker')

block content
  +section(
    "",
    "Beaker Vision",
    "Over the past decade, researchers at Two Sigma have migrated away from traditional IDEs towards a more conversational approach to big data research. This trend has culminated in Beaker, a notebook style development environment that allows researchers to interact with their data and build models more efficiently. Although Two Sigma is rooted in the world of finance, Beaker has been developed to be completely agnostic to the type of research being performed. It is an effective tool for all forms of research."
  )

  +section(
    "section-split",
    "Giving Back",
    "Two Sigma has used many great open source products in the past and both the individual developers at Two Sigma and the company as a whole have wanted to give back to the open source community. Although developers at Two Sigma regularly contribute, as individuals to a host of open source projects, Beaker was an effort to release one of our own core products, in its entirety."
  )

  +section(
    "section-split",
    "Contribute to Beaker",
    "We welcome any developers wishing to contribute to this open source project. All you need to do is fill out a content license agreement and check out the source code from GitHub."
  )

  p.block.
    We’re also looking to expand our team so if you’re a full stack web developer and interested in working on Beaker full time, check out the job description and let us know.

  +section(
    "section-split",
    "Two Sigma",
    "Two Sigma is a privately owned hedge fund dealing predominantly in quantitative modeling.  As such, we invest heavily in building cutting edge research and development platforms, which is why Beaker came to be.  For more info about Two Sigma, check out our website."
  )
