extends layout

block header
  +linkList('about beaker')

block content
  +section(
    "",
    "Beaker Vision",
    "Over the past decade, researchers at Two Sigma have migrated away from traditional IDEs toward a more conversational approach to big data research. This trend culminated in Beaker, a notebook-style development environment allowing researchers in various fields to interact with their data and build models more efficiently. Although Two Sigma is rooted in the world of finance, Beaker was created to be agnostic to the type of research being performed, thus an effective tool for various modes of analysis. "
  )

  +section(
    "section-split",
    "Giving Back",
    "Two Sigma has and continues to use a great many open source products. As a result, our individual developers and the company want to give back to the open source community. While developers at Two Sigma regularly contribute as individuals to a host of open source projects, Beaker is the first release of one of our own core products in its entirety."
  )

  +section(
    "section-split",
    "Contribute to Beaker",
    "Any developers wishing to contribute to this open source project are welcome to fill out a content license agreement < link> and access the source code in GitHub \< link \>"
  )

  p.block.
    We’re also looking to expand our team, so if you’re a rock solid full stack web developer or a razor sharp front end dev and you’re interested in working on Beaker full time, check out the job descriptions < link > and let us know.

  +section(
    "section-split",
    "Two Sigma",
    "Two Sigma is a privately owned hedge fund dealing predominantly in quantitative modeling. As such we invest in building cutting edge research and development platforms. This is how Beaker came to be. For more information about Two Sigma, head over to our <website>."
  )
