extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/careers")
  meta(property="og:title", content="Beaker Notebook careers")

block header
  +linkList('careers')
