extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/community")
  meta(property="og:title", content="Beaker Notebook Community")

block header
  +linkList('community')
