extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/tou")
  meta(property="og:title", content="Beaker Notebook Downloads Archive")

block header
  +linkList('')

block content
  .downloads.markdown
    :markdown
      ## Downloads Archive
      Here is a list of all versions of Beaker that have been released with simple download links.
      
      [beaker-notebook-v1.1.2-0-gb1a7d5f-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.2-0-gb1a7d5f-mac.dmg)  
      [beaker-notebook-v1.1.2-0-gb1a7d5f-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.2-0-gb1a7d5f-ubuntu.zip)  
      [beaker-notebook-v1.1.2-0-gb1a7d5f-windows.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.2-0-gb1a7d5f-windows.zip)  

      [beaker-notebook-v1.1.1-2-g58f018d-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.1-2-g58f018d-mac.dmg)  

      [beaker-notebook-v1.1.1-0-g58f018d-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.1-0-g58f018d-mac.dmg)  
      [beaker-notebook-v1.1.1-0-g58f018d-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.1-0-g58f018d-ubuntu.zip)  
      [beaker-notebook-v1.1.1-0-g58f018d-windows.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1.1-0-g58f018d-windows.zip)  

      [beaker-notebook-v1.1-0-g22ec655-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1-0-g22ec655-mac.dmg)  
      [beaker-notebook-v1.1-0-g22ec655-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1-0-g22ec655-ubuntu.zip)  
      [beaker-notebook-v1.1-0-g22ec655-windows.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.1-0-g22ec655-windows.zip)  

      [beaker-notebook-v1.0-1-g5644b78-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.0-1-g5644b78-ubuntu.zip)  

      [beaker-notebook-v1.0-0-g5644b78-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.0-0-g5644b78-mac.dmg)  
      [beaker-notebook-v1.0-0-g5644b78-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.0-0-g5644b78-ubuntu.zip)  
      [beaker-notebook-v1.0-0-g5644b78-windows.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.0-0-g5644b78-windows.zip)  

      [beaker-notebook-v0.55-0-gee418f9-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v0.55-0-gee418f9-mac.dmg)  
      [beaker-notebook-v0.55-0-gef764d9-ubuntu.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v0.55-0-gef764d9-ubuntu.zip)  
      [beaker-notebook-v0.55-0-gef764d9-windows.zip](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v0.55-0-gef764d9-windows.zip)  

