extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/tou")
  meta(property="og:title", content="Beaker Notebook Downloads Archive")

block header
  +linkList('')

block content
  .downloads.markdown
    :markdown
      ## Downloads Archive
      Here is a list of all versions of Beaker that have been released with simple download links.
      
      [beaker-notebook-v0.55-0-gee418f9-mac.dmg](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v0.55-0-gee418f9-mac.dmg)
