extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/examples")
  meta(property="og:title", content="Beaker Notebook Examples")

block header
  +linkList('examples')
