extends layout

block header
  +linkList('features')

block content
  +section(
    "",
    "Multi-language support",
    "Beaker is architected to support multiple languages, which can be dynamically plugged into the beaker platform. At present, the supported languages include Python, R, Julia, Groovy, JavaScript, Node, Ruby, Scala, HTML, Markdown and Latex. We welcome and encourage the addition of new language plugins. If that’s something you’re interested in developing, please see our Writing a Language Plugin guide."
  )

  include ./partials/_language_blocks

  +section(
    "section-split",
    "Notebooks for iterative exploration",
    "Unlike traditional IDEs, a notebook IDE is composed of multiple coding blocks, called cells. Each cell can be run independently of other cells and each of them can be of a different programming language. This flexible coding environment affords a very rapid prototyping environment. In particular it lends itself well to exploratory interaction with datasets, providing an almost conversational style research experience."
  )

  img.notebook-image(src="img/notebook@2x.png")

  +section(
    "section-split",
    "Data translation between languages",
    "With support for multiple languages in a single notebook, a natural next step is to allow the languages to seamlessly communicate with each other. Beaker provides native autotranslation capability, allowing a developer to declare specific variables in a cell in one language and then access them directly in a different cell, in a different language. This capability will allow developers to utilize the inherent strengths of different languages in pursuit of their research, without having to write data to intermediary files."
  )

  img.translation-image(src="img/translation@2x.png")

  +section(
    "section-split",
    "Rich Visualizations",
    "With support for multiple languages in a single notebook, a natural next step is to allow the languages to seamlessly communicate with each other. Beaker provides native autotranslation capability, allowing a developer to declare specific variables in a cell in one language and then access them directly in a different cell, in a different language. This capability will allow developers to utilize the inherent strengths of different languages in pursuit of their research, without having to write data to intermediary files."
  )

  img.rich-viz-image(src="img/rich_viz@2x.png")


  +section(
    "section-split",
    "Share Notebooks easily",
    "Once you’ve create a notebook, complete with analysis, inline documentation and some handy visualizations, Beaker makes it easy to share your work with your friends or colleagues. We provide a notebook viewer that can render a notebook from any URL, as well as a one click action to save your notebook to a GitHub Gist and generate a link for the notebook viewer. Check out some of our example notebooks, to see what publications can look like."
  )

  img.publish-image(src="img/publish@2x.png")

  +section(
    "section-split",
    "Multiple platforms and browser support",
    "To accommodate the diverse set of operating systems and browsers, Beaker runs on Windows, Mac and Linux Operating systems and with Chrome and Firefox browsers. Check out the Getting Started page for the specific versions of each platform supported."
  )

  include ./partials/_platforms

  +section(
    "section-split",
    "Advanced markup",
    "Of particular importance to researchers and developers alike is the ability to add descriptive text and other informative markup to their code. Beaker provides a variety of cells to allow for just that, including Latex support, Markdown and HTML. This enables a researcher to say, add inline notes and images describing their methodology, complex equations to help explain the functionality and rich formatting so their work is easily understood."
  )
