extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/features")
  meta(property="og:title", content="Beaker Notebook Features")

block header
  +linkList('features')
