extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/getting-started")
  meta(property="og:title", content="Beaker Notebook Getting Started")

block header
  +linkList('getting started')
