doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Beaker Notebook')
    meta(name='author', content= "TwoSigma")
    title Beaker Notebook
    meta(name="viewport", content="width=device-width")
    title= path
    script(src="js/tracking.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='shortcut icon', href='img/favicon.png')

    meta(property="og:url", content="http://beakernotebook.com")
    meta(property="og:title", content="Beaker Notebook")
    meta(property="og:image", content="http://beakernotebook.com/img/social_image.png")
    meta(property="og:description", content="Beaker is a notebook-style development environment for working interactively with large and complex datasets. Its plugin-based architecture allows you to switch between languages or add new ones with ease, ensuring that you always have the right tool for any of your analysis and visualization needs.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@beakernotebook")

    include ./partials/_scripts
    include ./partials/_links
    include ./partials/_block
    include ./partials/_google
  body
    include ./partials/_header
    .header-nav
      .contain
        block header
    .primary-content
      .contain
        block content

    include ./partials/_footer
    #modal
