doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Beaker Notebook')
    meta(name='author', content= "TwoSigma")
    title Beaker Notebook
    meta(name="viewport", content="width=device-width")
    title= path
    script(src="js/tracking.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='shortcut icon', href='img/favicon.png')
    include ./partials/_scripts
    include ./partials/_links
    include ./partials/_block
    include ./partials/_google
  body
    include ./partials/_header
    .header-nav
      .contain
        block header
    .primary-content
      .contain
        block content

    include ./partials/_footer
    #modal
