extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/releases")
  meta(property="og:title", content="Beaker Notebook Terms Releases")

block header
  +linkList('')

block content
