extends layout

block header-meta
  meta(property="og:url", content="http://beakernotebook.com/videos")
  meta(property="og:title", content="Beaker Notebook Videos")

block header
  +linkList('videos')
