mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Help and Discussion",
  "Not sure about how a specific feature works? Or have an idea for a new one? We’d really like to hear from you. Check out our Help and Tutorial pages or our FAQ, as you might be able to find your answer there. If you have a great idea for a new feature, some questions or just a comment, drop us a line on social media, or at beaker-dev@twosigma.com."
)

+section(
  "",
  "Contributing",
  "Beaker is an Open Source product under the Apache 2.0 license. As such, we welcome developers to extend this platform in ways that can benefit the data science community. If you want to directly help us develop BeakerNotebook (we’d love it if you did), just download the Contributor License Agreement and head on over to Github.",
  ""
)

p.block
  a(href="cla.zip") Download

+section(
  "section-split",
  "Feature Requests",
  "If inspirations strikes, we are fielding ideas through our Feature Requests."
)


+section(
  "section-split",
  "Stay in Touch",
  ""
)

.block
  p Sign up for our newsletter.

  form#mc-embedded-subscribe-form.validate(action='//beakernotebook.us3.list-manage.com/subscribe/post?u=d05838b85c905bc618b25e5a9&id=6b3010163c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
    .mc-field-group
      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="enter your email address")
    div(style='position: absolute; left: -5000px;')
      input(type='text', name='b_d05838b85c905bc618b25e5a9_6b3010163c', tabindex='-1', value='')
    .clear
      input#mc-embedded-subscribe.btn.mid(type='submit', value='Subscribe', name='subscribe')

p.block.
  Beaker in turn utilizes many fantastic open source projects, such as Ipython, Rserve, IJulia, Angular, Bootstrap and others for which we are very thankful.
