mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Help, Discussion, and Feedback",
  ""
)

p.block.
  Not sure about how a specific feature works? Have an idea for a new one? Got a complaint or comment? We’d like to hear from you.  Engage with us and other users via your favorite social media: <a href='https://twitter.com/beakernotebook'>Twitter</a>,
  <a href='https://github.com/twosigma/beaker-notebook'>Github</a>,
  <a href='https://www.facebook.com/beakernotebook'>Facebook</a>,
  <a href='https://plus.google.com/b/103696694815824084077/103696694815824084077/'>Google+</a>
  or just email
  <a href='mailto:beaker-feedback@twosigma.com'>beaker-feedback@twosigma.com</a>.

+section(
  "",
  "Contributing to Beaker",
  ""
)

p.block.

  Beaker is an Open Source tool available under the Apache 2.0
  license. As such, we welcome developers to extend and improve it in
  ways that can benefit everyone. In order for us to accept your code
  or pull request, we need for you to fill out and send back to us a signed copy of the <a href="cla.zip">Contributor
  License Agreement</a>.

p.block.
  We’re also looking to expand our team, so if you’re a rock solid <a href='http://www.twosigma.com/careers/position/936.html', target="_blank", onClick="_gaq.push(['_trackEvent', 'Careers', 'Link', 'backendDev']);">full stack web developer</a> or a razor sharp <a href='http://www.twosigma.com/careers/position/935.html', target="_blank", onClick="_gaq.push(['_trackEvent', 'Careers', 'Link', 'frontendDev']);">front end web developer</a> and you’re interested in working on Beaker full time, check out the job descriptions and let us know.

+section(
  "section-split",
  "Stay in Touch",
  ""
)

.block
  p Sign up to for our mailing list to stay informed about the latest Beaker developments, product updates and new version releases.

  form#mc-embedded-subscribe-form.validate(action='//beakernotebook.us3.list-manage.com/subscribe/post?u=d05838b85c905bc618b25e5a9&id=6b3010163c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
    .mc-field-group
      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="enter your email address")
      input#mc-embedded-subscribe.btn.mid(type='submit', value='Subscribe', name='subscribe')
    div(style='position: absolute; left: -5000px;')
      input(type='text', name='b_d05838b85c905bc618b25e5a9_6b3010163c', tabindex='-1', value='')
    .clear

+section(
  "",
  "Video Overview and Demo",
  ""
)

p.block.
  <div style="text-align: center"><iframe width="560" height="315" src="//www.youtube.com/embed/G4RmVni8nxc" frameborder="0" allowfullscreen></iframe></div>

+section(
  "section-split",
  "The Shoulders of Giants",
  ""
)
p.block.
  Beaker is built on many fantastic open source projects including
  <a href='https://angularjs.org/'>Angular</a>,
  <a href='http://getbootstrap.com/'>Bootstrap</a>,
  <a href='http://cometd.org/'>CometD</a>,
  <a href='http://www.gradle.org/'>Gradle</a>,
  <a href='https://code.google.com/p/google-guice/'>Guice</a>,
  <a href='http://ipython.org/'>IPython</a>,
  <a href='https://github.com/FasterXML/jackson'>Jackson</a>,
  <a href='http://www.eclipse.org/jetty/'>Jetty</a>,
  <a href='http://nginx.org/'>Nginx</a>,
  <a href='http://rforge.net/Rserve/'>Rserve</a>,
  and others for which we are very grateful.
