mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Help, Discussion, and Feedback",
  ""
)

p.block.
  Not sure about how a specific feature works? Have an idea for a new one? Got a complaint or comment? We’d like to hear from you.  Engage with us and other users via your favorite social media: <a href='https://twitter.com/beakernotebook'>Twitter</a>,
  <a href='https://github.com/twosigma/beaker-notebook'>Github</a>,
  <a href='https://www.facebook.com/beakernotebook'>Facebook</a>,
  <a href='https://plus.google.com/b/103696694815824084077/103696694815824084077/'>Google+</a>
  or just email
  <a href='mailto:beaker-feedback@twosigma.com'>beaker-feedback@twosigma.com</a>.

+section(
  "",
  "Contributing",
  ""
)

p.block.

  Beaker is an Open Source tool available under the Apache 2.0
  license. As such, we welcome developers to extend and improve it in
  ways that can benefit everyone. In order for us to accept your code
  or pull request, we need a signed <a href="cla.zip">Contributor
  License Agreement</a>.

p.block.
  We’re also looking to expand our team, so if you’re a rock solid full stack web developer or a razor sharp front end dev and you’re interested in working on Beaker full time, check out the job descriptions < link > and let us know.

+section(
  "section-split",
  "Stay in Touch",
  ""
)

.block
  p Sign up to be informed of future releases:

  form#mc-embedded-subscribe-form.validate(action='//beakernotebook.us3.list-manage.com/subscribe/post?u=d05838b85c905bc618b25e5a9&id=6b3010163c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
    .mc-field-group
      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="enter your email address")
    div(style='position: absolute; left: -5000px;')
      input(type='text', name='b_d05838b85c905bc618b25e5a9_6b3010163c', tabindex='-1', value='')
    .clear
      input#mc-embedded-subscribe.btn.mid(type='submit', value='Subscribe', name='subscribe')

+section(
  "section-split",
  "The Shoulders of Giants",
  ""
)
p.block.
  Beaker is built on many fantastic open source
  projects including IPython, Rserve, Angular, Bootstrap,
  Gradle, Jetty, Guice, Jackson, and others for which we are very grateful.
