mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Help and Discussion",
  "You can help us in developing this open source project. We’d love it if you did. If you like Beaker, consider contributing feedback to help us continue to improve this technology. We welcome insights and user dialogue on our Community Forum. For any issues, please refer to our Help system."
)

+section(
  "",
  "Contributor License Agreement",
  "xxxx xxxx xxxx"
)


+section(
  "section-split",
  "Feature Requests",
  "If inspirations strikes, we are fielding ideas through our Feature Requests."
)

+section(
  "section-split",
  "Contribute",
  "Beaker is an Open Source product under the Apache 2.0 license. As such, we welcome developers to extend this platform in ways that can benefit the data science community. If you would like to contribute, all we need you to do is first sign a contributor license agreement <link to a contributor license agreement page similar to googles one https://developers.google.com/open-source/cla/individual>. Our source code and documentation can be found in its entirety on GitHub. <link to beakernotebook git hub page> Beaker utilizes many fantastic open source projects like IPython, Rserve, IJulia, Angular, Bootstrap among others. For this we remain very thankful."
)

p.block.
  Beaker in turn utilizes many fantastic open source projects, such as Ipython, Rserve, IJulia, Angular, Bootstrap and others for which we are very thankful.

