mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Example Notebooks",
  ""
)

p.block
  | The following links are to static copies of notebooks on our sharing
  | server.  On each page, you can view the contents of the notebook and
  | interact with it, but you can't change the contents or
  | run any code.  If you would like to change the content, you can
  | download the notebook from the sharing server and open it in Beaker.

.list-container.padded
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/9aa6a92b59770ba5421f', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'd3'])")
          img(src='img/example2-d3.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/9aa6a92b59770ba5421f', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'd3'])")
          h4 Python, HTML, Javascript, and d3
        p.author Scott Draves
        p.tagline Beaker Development Team
        p.
          This notebook creates a random network with Python, and then visualizes it with an interactive forced-directed graph by using the d3 library.

        ul.languages
          li.python.language
            .lang-block Py
          li.javascript.language
            .lang-block Js
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/ee2a39c529e07ae3c2ca', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'ParkingTix'])")
          img(src='img/example-parkingtickets.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/ee2a39c529e07ae3c2ca', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'ParkingTix'])")
          h4 NYC Parking Ticket Analysis
        p.author Ben Wellington
        p.tagline I Quant NY
        p.
          This notebook provides an exploration of NYC parking ticket data. The example illustrates the use of basic statistics to uncover interesting artifacts of the data in aggregate, as well as showing how to perform isolated analysis of individual types of parking violations.

        ul.languages
          li.python.language
            .lang-block Py
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/cc8c05f56c10fdff4002', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'Recycling'])")
          img(src='img/example-recycling.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/cc8c05f56c10fdff4002', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'Recycling'])")
          h4 NYC Recycling Data
        p.author Ben Wellington
        p.tagline I Quant NY
        p.
          This notebook explores NYC recycling using basic statistics and a recycling dataset made publicly available by the city of New York. The language of choice here is IPython, with pandas.

        ul.languages
          li.python.language
            .lang-block Py
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/44e82316e785746165a6', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'p5js'])")
          img(src='img/example-p5js.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/44e82316e785746165a6', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'p5js'])")
          h4 Processing with p5.js
        p.author Berzelius Beaker 
        p.tagline Phlogiston Labs
        p.
          P5.js is the javascript reimplementation of the legendary Processing animation and visualization language. This example is right out of the p5.js documentation. The notebook also shows how to load and use an external javascript library.

        ul.languages
          li.javascript.language
            .lang-block Js
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/a400a57f2bf13966d77e', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'CitiBike'])")
          img(src='img/example-citibike.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/a400a57f2bf13966d77e', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'CitiBike'])")
          h4 NYC Citi Bike Data
        p.author Ben Wellington
        p.tagline I Quant NY
        p.
          This notebook provides an example of how to mine publicly available Citi Bike data, using basic statistics to uncover interesting patterns. It uses IPython as the language of choice (with pandas and numpy). There's also some Groovy at the end to show how data can be passed between languages.
        ul.languages
          li.python.language
            .lang-block Py
          li.groovy.language
            .lang-block Gv
  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/47a0e193c3d01895f873', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'PythonDemo'])")
          img(src='img/example-python.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/47a0e193c3d01895f873', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'PythonDemo'])")
          h4 Python Demo
        p.author Scott Draves
        p.tagline Beaker Development Team
        p.
          IPython is the Python language with extensions for interactivity.  It can be installed along with Beaker by following the instructions on the Getting Started page of this website. This example notebook provides a brief tour of some of the great things you can do with IPython.


        ul.languages
          li.python.language
            .lang-block Py

  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/d58b526f0597f7c03605', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'RDemo'])")
          img(src='img/example-r.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/d58b526f0597f7c03605', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'RDemo'])")
          h4 R Demo
        p.author Scott Draves
        p.tagline Beaker Development Team
        p.
          The R Project for Statistical Computing publishes GNU R. It can be installed along with Beaker by following the instructions on the Getting Started page of this website. This example notebook provides a brief tour of some of the great things you can do with R.

        ul.languages
          li.r.language
            .lang-block R

  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/5fcd0e4ec4e514429bb7', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'Autotranslation'])")
          img(src='img/example-autotranslation.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/5fcd0e4ec4e514429bb7', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'Autotranslation'])")
          h4 Autotranslation
        p.author Scott Draves
        p.tagline Beaker Development Team
        p.
          Beaker can autotranslate variables in one language to another.  You can access this feature with the notebook namespace: a collection of variables and their values stored in the notebook.  You can use this to produce data in one language, and consume or process it in another.

        ul.languages
          li.r.language
            .lang-block R
          li.javascript.language
            .lang-block Js
          li.groovy.language
            .lang-block Gv
          li.python.language
            .lang-block Py

  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/7df554918e7415f1da2c', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'py23'])")
          img(src='img/example-py23.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/7df554918e7415f1da2c', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'py23'])")
          h4 Simultaneous Python2 and Python3
        p.author Berzelius Beaker 
        p.tagline Phlogiston Labs
        p.
          Run two different versions of Python at the same time, and communicate data between them.  In this example, we scrape the web with the venerable mechanize library which is available in Python2 only, but then we process the results with Python3 with better Unicode handling.

        ul.languages
          li.python.language
            .lang-block Py
          li.python.language
            .lang-block Py

  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/3fcbb2e8c0d67079d313', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'InteractiveCharts'])")
          img(src='img/example-charting.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/3fcbb2e8c0d67079d313', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'InteractiveCharts'])")
          h4 Interactive Charts
        p.author Bowen Yu
        p.tagline NYU
        p.
          Beaker comes with its own charting library for creating interactive plots.  It is implemented in JavaScript and takes the specification for the plot to make and the data to plot in JSON.  You can access it from any language, but it's easiest with Groovy, and this tutorial will show you how.  See the Levels of Detail tutorial for how to handle charts with many points.



        ul.languages
          li.groovy.language
            .lang-block Gv

  .col.example.list-container-item
    .contents
      .col-1-3
        a(href='http://sharing.beakernotebook.com/gist/anonymous/4855d54bba77ff51e5cc', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'LevelOfDetail'])")
         img(src='img/example-lod.jpg')
      .col-2-3
        a.headline(href='http://sharing.beakernotebook.com/gist/anonymous/4855d54bba77ff51e5cc', target="_blank", onClick="_gaq.push(['_trackEvent', 'Examples', 'Click', 'LevelOfDetail'])")
          h4 Charts with Level of Detail
        p.author Scott Draves
        p.tagline Beaker Development Team
        p.
          Although the interactivity and high resolution you get from Beaker's charting library are great, creating DOM elements for every single data point is memory and CPU intensive.  If implemented naively, your web browser would become sluggish or freeze if you tried to chart too much data.  Fortunately, Beaker recognizes this situation and has a solution: Levels of Detail.  If there are more than 1500 points, then instead of drawing them all, Beaker combines points into groups, and represents each group with its average, a box, or a river (min, max, and average).  But then, as you zoom into the data, it is resampled as appropriate for the current view, so the closer you look, the more there is to see, but you can still pull out and get the big picture while keeping the frame rate high.

        ul.languages
          li.groovy.language
            .lang-block Gv

  .cl
