mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "section-split",
  "Example Notebooks",
  ""
)

p.block
  | The following links are to static copies of notebooks on our sharing
  | server.  On each page, you can view the contents of the notebook and
  | interact with it, but you can't change the contents of the col-1-2s or
  | run any code.  If you would like to change the content, you can
  | download the notebook from the sharing server and open it in Beaker.

.examples.padded
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/c2849dc2cb9d4a20171b')
      h4.graph-headline NYC Recycling Data
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/f4fd503dc5e3f64986b0')
      | Main Tutorial
      br
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/47a0e193c3d01895f873')
      | Python Demo
      br
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/a119ba0126f280b2d041')
      | R Demo
      br
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/5fcd0e4ec4e514429bb7')
      | Autotranslation
      br
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/3fcbb2e8c0d67079d313')
      | Interactive Charts
      br
      img(src='img/nyc-recycling.jpg')
  .col-1-2
    a(href='http://sharing.beakernotebook.com/gist/anonymous/4855d54bba77ff51e5cc')
      | Charts with Level of Detail
      br
      img(src='img/nyc-recycling.jpg')
  .cl
