mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Example Notebooks",
  ""
)

p.block.
  You can browse and search examples on the <a href="https://pub.beakernotebook.com">publication server</a>.
  In particular, there is a section devoted to <a href="https://pub.beakernotebook.com/#/publications/category/560a8d87-db3d-4b2a-81ee-45dfea5d4585">Beaker tutorials</a> showing off all its features.
