.faq.markdown
  :markdown
    ## General

    **Can I customize my default notebook?**

    Yes, create a notebook you like and save it to
    ~/.beaker/v1/config/default.bkr. This will be loaded when you
    click the 'New Default Notebook' button, or use the
    Control-Shift-N keyboard equivalent.

    The default notebook that comes with Beaker has Python and R and
    some tips for beginners.  It would be normal for advanced users to
    customize the included languages (for example, adding a standard
    JAR to their Groovy classpath), remove the tips, and add a
    signature cell with their contact information.

    **How do I remove a language from a notebook?**

    In the plugin manager, click the button for the language you want
    to remove.  The buttons are actually toggles.  Make sure you first
    have removed all cells from the notebook that use that language.

    **What other customization or init files are there?**

    ~/.beaker/v1/config/beaker.pref.json is read at startup and can
    modify the UI in many ways.  See its
    [documentation](https://github.com/twosigma/beaker-notebook/wiki/Configuration-and-Preference).

    **Why are you asking for my email address?**

    So that we can notify you of future relases, including in case of
    an important security update.

    You can unsubscribe from our email list at any time and continue
    using Beaker.  We use MailChimp to manage the list so you can
    trust the controls will work.

    **How does Beaker relate to the IPython Notebook?**

    Beaker uses an IPython kernel for the backend of its Python
    plugin.  Many thanks to the IPython team for their great
    architecture, and for making their work available to all.

    Because the backend is shared, and Beaker can open IPython
    notebooks and convert them to its own format, you will find Beaker
    is mostly compatible with IPython (widgets are not supported).

    **How do I run Ruby?**

    Our Ruby plugin has a bug that makes it insecure in a multi-user
    environment.  That means if someone else can log into the machine
    where you are running Beaker and you run Ruby, then they could
    connect to your Ruby backend and execute code as you.  On a
    typical single-user laptop or desktop this isn't a problem, and
    the plugin is perfectly safe.

    If you choose to, you can still add Ruby to your notebook.  In the
    plugin manager, click "From URL..." and enter
    "./plugins/eval/ipythonPlugins/iruby/iruby.js" then click "Add
    Plugin from URL".

    ## Installing and launching Beaker

    **Can I change the heap size for Groovy?**

    Yes. To customize the heap size, launch Beaker like this:

    `beaker.command  --plugin-option Groovy:-Xmx8g`

    **Can I make the server accessible across the net?**

    Yes.  Start it like this:

    `beaker.command --public-server`

    The server will generate a password for you, and
                  print it on the console.  Connect to the printed URL
                  (note that it will be HTTPS, meaning encryption is
                  used to prevent snooping) and enter the password.

    **How do I give command-line options on the Mac?**

    Using the terminal, the contents of the app are
                  visible.  Assuming you have it installed in the normal
                  location you can run it like this:

    `/Applications/Beaker.app/Contents/Resources/dist/beaker.command --help`
