.faq.markdown
  :markdown
    ## General

    **Can I customize my default notebook?**

    Yes, create a notebook you like and save it to
    ~/.beaker/v1/config/default.bkr. This will be loaded when you
    click the 'New Default Notebook' button, or use the
    Control-Shift-N keyboard equivalent.

    The default notebook that comes with Beaker has Python and R cells
    as well as some tips for beginners.  It would be normal for
    advanced users to customize the included languages (for example,
    adding a standard JAR to their Groovy classpath), remove the tips,
    and add a signature cell with their contact information.

    **How do I add a language to a notebook?**

    Use the Notebook menu to open the Plugin Manager (aka the Language
    Manager).  There are buttons for each possible language. Each
    button has a status indicator: gray means inactive, green means
    active, and yellow means it is in progress of starting up. Click on
    the language you want to add (one that is gray). It should turn
    yellow, and after a while, depending on how fast your computer is,
    it should go green. Close the manager, and then when you open the
    language menu on any cell, you can set it to the new language and
    run it.

    **Why doesn't language X work?**

    Most of the languages require a backend that must be installed
    separately.  On the "Getting Started" tab of this web site,
    beneath the download button are the instructions for how to
    install them so they work well with Beaker.

    **How do I remove a language from a notebook?**

    Start with the Notebook menu, and open the plugin manager and
    click the button for the language you want to remove.  The
    indicator would be green before you click it.  The buttons are
    actually toggles.  Make sure you have first removed all cells from
    the notebook that use that language.  When the language is
    successfully remove, the indicator will go gray.

    **What other customization or init files are there?**

    ~/.beaker/v1/config/beaker.pref.json is read at startup and can
    modify the UI in many ways.  See its
    [documentation](https://github.com/twosigma/beaker-notebook/wiki/Configuration-and-Preference).

    **If something crashes or I get disconnected, can I recover my work?**

    Yes, Beaker saves your notebooks as you edit them automatically
    every 60 seconds.  Look in ~/.beaker/v1/var/sessionBackups to find
    your work.

    Also, if the client becomes disconnected from the server, it tries
    for 5 seconds to reconnect, but if it cannot, Beaker gives you a
    chance to save a copy of your notebook locally.

    **Why are you asking for my email address?**

    So that we can notify you of future releases, including in case of
    an important security update.

    You can unsubscribe from our email list at any time and continue
    using Beaker.  We use MailChimp to manage the list so you can
    trust the controls will work.

    **How does Beaker relate to the IPython Notebook?**

    Beaker uses an IPython kernel for the backend of its Python
    plugin.  Many thanks to the IPython team for their great
    architecture, and for making their work available to all.

    Because the backend is shared, and Beaker can open IPython
    notebooks and convert them to its own format, you will find Beaker
    is mostly compatible with IPython (widgets are not supported).

    ## Installing and launching Beaker

    **Can I change the heap size for Groovy?**

    Yes. To customize the heap size, launch Beaker like this:

    `beaker.command  --plugin-option Groovy:-Xmx8g`

    **Can I make the server accessible across the net?**

    Yes.  Start it like this:

    `beaker.command --public-server`

    The server will generate a password for you, and print it on the
    console.  Connect to the printed URL (note that it will be HTTPS,
    meaning encryption is used to prevent snooping) and enter the
    password.

    You should also use this option if you run Beaker on a computer
    where untrusted people can log in.

    **How do I give command-line options on the Mac?**

    Using the terminal, the contents of the app are visible.  Assuming
    you have it installed in the normal location you can run it like
    this:

    `/Applications/Beaker.app/Contents/Resources/dist/beaker.command --help`

    **Where do the server logs and error messages show up on Mac?**
 
    Run the Console application to see the debug output from the
    Beaker server.  It should be in the Applications/Utilities folder.

    **On the Mac, IPython fails to start, or runs the wrong version of python. What's wrong?**

    Beaker finds your IPython via the PATH.  Anaconda sets up the PATH
    in your .bash_profile.  However, the Mac GUI does not read the
    .bash_profile when an application is started.  To solve this,
    Beaker creates a login shell for itself when it starts, and this
    process reads the .bash_profile.  That's all fine unless you have
    a special setup that doesn't use .bash_profile (eg you use a
    different shell), or you use a terminal to change your PATH (eg
    using 'source activate' to switch to python3) and then you start
    Beaker from that same terminal.  In these cases Beaker will not
    find python, or find the wrong one.  Until we solve this problem
    (see [Issue #703](https://github.com/twosigma/beaker-notebook/issues/703)),
    you can workaround it by putting your python PATH setup into your
    .bash_profile.

    **How do I run Ruby?**

    Our Ruby plugin has a bug that makes it insecure in a multi-user
    environment.  That means if someone else can log into the machine
    where you are running Beaker and you run Ruby, then they could
    connect to your Ruby backend and execute code as you.  On a
    typical single-user laptop or desktop this isn't a problem, and
    the plugin is perfectly safe.

    If you choose to, you can still add Ruby to your notebook.  In the
    plugin manager, click "From URL..." and enter
    "./plugins/eval/ipythonPlugins/iruby/iruby.js" then click "Add
    Plugin from URL".


    **After upgrading to Yosemite (Mac OS X 10.10), R fails**

    If you get an error about "cairo.so", just reinstall XQuartz.

    **How do I load more Javascript libraries?**

    This is unfortunately more difficult than it should be.  A new
    UI should be available soon, but in the meantime follow the
    instructions and example in [Issue #421](https://github.com/twosigma/beaker-notebook/issues/421).

    **Is there a more recent version available for download?**

    Yes we have a prerelease of v1.2 available for
    [download for mac](http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.2pre-0-g5c96e3a-mac.dmg) and on [docker hub](https://registry.hub.docker.com/u/beakernotebook/beaker-prerelease/)

