mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Multi-Language Support",
  ""
)

p.block.
  Great languages breed great ideas. This is why Beaker is architected
  to support multiple languages that can be plugged into its
  platform. Currently supported languages include Python, R, Julia,
  Groovy, JavaScript, Node, Ruby, HTML, Markdown, and LaTeX. We
  encourage and welcome the addition of new language plugins. If
  you’re interested, please see our <a
  href="https://github.com/twosigma/beaker-notebook/wiki/Eval-plugin-spec"
  target="_blank">Evaluator Plugin</a> documentation.

!= templates.language_blocks()

+section(
  "section-split",
  "Notebooks Enable Iterative Exploration",
  "If we could liken the traditional IDE to a multinational conglomerate, then Beaker is the agile startup. More dynamic, a notebook IDE is composed of multiple coding blocks, called cells. Individual cells can be run independently of others and contain different programming languages. The result is a flexible coding and prototyping environment, and a research experience that’s more like a symphony than a soliloquy."
)

img.notebook-image(src="img/notebook@2x.png")

+section(
  "section-split",
  "Translate Data Between Languages",
  "We want you to be able to use the right tool for the job, knowing all your tools will work in concert. This is why Beaker provides native auto-translation that lets a developer declare specific variables in a cell in one language, then access these seamlessly in a different cell and language. Such capability frees developers to utilize those inherent strengths of the individual languages in pursuit of their research, without spending time dealing with intermediary files."
)

img.translation-image(src="img/translation@2x.png")

+section(
  "section-split",
  "Rich Visualizations",
  ""
)

p.block.
  In addition to those extensive charting libraries native to
  supported languages, Beaker offers a rich charting API for Groovy,
  which can also be leveraged by other languages through a simple JSON
  interface. Not only does it produce beautiful, interactive charts
  but it also handles large datasets that would normally bring your
  browser to a halt. This level-of-detail feature dynamically
  resamples the data based on the zoom level and window size, to keep
  the frame rate high. Further support for D3 permits the
  visualization-savvy developer (perhaps not unlike yourself) to view
  data in unlimited ways. For those of you interested in writing your
  own visualization frameworks, Beaker comes with an Output Display
  API that allows developers to write unique charting APIs or
  incorporate other, existing third party visualization
  libraries. Options abound. For more information on writing your own
  Output Display, check out our <a href="https://github.com/twosigma/beaker-notebook/wiki/Create-an-OutputDisplay" target="_blank">Output Display Plugin</a> documentation.

img.rich-viz-image(src="img/rich_viz@2x.png")

+section(
  "section-split",
  "Share Notebooks Easily",
  "You’ve created a notebook ripe with analysis, inline documentation, and compelling visualizations. Beaker then streamlines the process of sharing your work with friends and/or colleagues. We provide a notebook viewer for rendering that notebook from any URL, as well as a one-click action for saving your notebook to a GitHub Gist and generating a link for the viewer. Refer to our Example Notebooks section to see the forms publications can take."
)

img.publish-image(src="img/publish@2x.png")

+section(
  "section-split",
  "Multi Platform and Browser Support",
  "We strive to accommodate the diverse range of operating systems and browsers. Beaker runs on Windows, Mac, and Linux operating systems and with Chrome, Firefox and Safari browsers. Head over to our Getting Started page for more details and specific installation instructions for each supported platform."
)

.overview
  != templates.platforms()

+section(
  "section-split",
  "Advanced Markup and Hierarchical Organization",
  "The ability to add descriptive text and other informative markup to code is of particular importance to researchers and data scientists alike. Beaker offers a variety of cells allowing for just that. These include LaTeX for typeset mathematics, Markdown for easy formatting, and HTML for complete control. With this capability researchers could, for example, add inline notes and images describing their methodology, complex equations to help explain functionality, and rich formatting in the service of making their work more intelligible. Furthermore, Beaker provides the ability to organize a notebook into hierarchical sections, each of which can be viewed, shared or evaluated individually or as a whole. All in all, a very presentable package."
)

