mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Modular and Flexible",
  "Beaker comes with JavaScript, Java, Clojure, Groovy, Scala, HTML, LaTeX, and Markdown support built-in. After successfully setting up Beaker, you can then install more languages from the list below. A full set of install instructions are provided for each."
)

+section(
  "section-split",
  "Choose Your Platform",
  "Beaker currently runs on Mac, Linux, and Windows. Browser support consists of Chrome, Firefox and Safari. To install Beaker, first select your operating system from the three below. Once you've selected it, you can download Beaker by clicking on the Download Base Installation button. After you have Beaker up and running, you can install any of the langauges in the Optional Components section to use with it."
)

p.block.
  We have published a <a href="https://registry.hub.docker.com/u/beakernotebook/beaker/", target="_blank", onClick="_gaq.push(['_trackEvent', 'download', 'Link', 'docker']);">Docker
  container</a> with Beaker and all supported languages built right
  in.  If you can run containers, this is the fastest way to get started.

p.block.
  In addition, Beaker is supported by the <a href="https://www.dominodatalab.com/">Domino Data Lab</a> enterprise data science platform.  They provide a <a href="http://blog.dominodatalab.com/interactive-data-science/">hosted version of Beaker</a> for exploring data stored in a fully managed cloud infrastructure.

p.block.
  On the Mac, if you have brew, you can just say: "brew cask install beaker".

p.block.
  For a page with simple HTML links to all previous releases for all platforms, see our <a href="/downloads">Downloads Archive</a> page.

ul.block.platforms.getting-started#getting-started
  li.linux(class= OS == 'linux' ? 'active' : '', data-platform='linux')
    .label Linux
  li.mac(class= OS == 'osx' ? 'active' : '', data-platform='osx')
    .label Mac OS
  li.windows(class= OS == 'windows' ? 'active' : '', data-platform='windows')
    .label Windows

.install-instructions

h2.block Release History
.release-history
