mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "section-split",
  "Modular and Flexible",
  "While Beaker’s notebook-style development environment supports multiple languages, the shell itself has no native language of its own. In order to use Beaker, at least one programming language must be installed. So, to help get you started, Beaker will be installed with JavaScript and Groovy support, as well as HTML, Latex, and Markdown. After successfully setting up Beaker, you can then install any of the languages from the list below. A full set of install instructions are provided for each."
)

+section(
  "section-split",
  "Choose Your Platform",
  "Beaker currently runs on Mac, Linux, and Windows. Browser support consists of Chrome, Firefox and Safari. To install Beaker, first select your operating system from the three below. Once you've selected it, you can download Beaker by clicking on the Download Base Installation button. After you have Beaker up and running, you can install any of the langauges in the Optional Components section to use with it."
)

p.block.
  In addition, we have published a <a href="https://registry.hub.docker.com/u/beakernotebook/beaker/", target="_blank", onClick="_gaq.push(['_trackEvent', 'Click', 'Link', 'docker']);">Docker
  container</a> with Beaker and all supported languages built right
  in.  If you can run containers, this is the fastest way to get started.
  

ul.block.platforms.getting-started#getting-started
  li.linux(class= OS == 'linux' ? 'active' : '', data-platform='linux')
    .label Linux
  li.mac(class= OS == 'osx' ? 'active' : '', data-platform='osx')
    .label Mac OS
  li.windows(class= OS == 'windows' ? 'active' : '', data-platform='windows')
    .label Windows

.install-instructions

h2.block Release History
.release-history
