mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "Modular and Flexible",
  "Beaker comes with JavaScript, SQL, Java, Clojure, Groovy, Scala, HTML, TeX, and Markdown support built-in. After successfully setting up Beaker, you can then install more languages from the list below. A full set of install instructions are provided for each."
)

+section(
  "section-split",
  "Choose Your Platform",
  "Beaker currently runs on Mac, Linux, and Windows (64-bit). Browser support consists of Chrome, Firefox and Safari. To install Beaker, first select your operating system from the three below. Once you've selected it, you can download Beaker by clicking on the Download Base Installation button. After you have Beaker up and running, you can install any of the langauges in the Optional Components section to use with it."
)

p.block.
  Beaker Notebook can be run in the cloud through <a href="https://lab.beakernotebook.com">Beaker Lab</a>. You can create an account for free and will be able to start developing in Beaker Notebook immediately, without any downloads or configuration.

p.block.
  We have published a <a href="https://registry.hub.docker.com/u/beakernotebook/beaker/", target="_blank", onClick="_gaq.push(['_trackEvent', 'download', 'Link', 'docker']);">Docker
  container</a> with Beaker and all supported languages built right
  in.  If you can run containers, this is the fastest way to get started.

p.block.
  There are experimental <a href="/downloads",
  target="_blank">Electron versions</a> of Beaker that work like
  native applications with regular windows and menus instead of
  running inside a web browser.

p.block.
  And there's a portable version for Windows that you can download as a zip file.
  It stores all its preferences and temporary files inside itself, so it works
  well from a thumb drive.  See the <a href="/downloads">Downloads Archive</a> page.

p.block.
  On the Mac, if you have brew, you can just say: "brew cask install beaker".

p.block.
  For a page with simple HTML links to all previous releases for all platforms, see our <a href="/downloads">Downloads Archive</a> page.

ul.block.platforms.getting-started#getting-started
  li.linux(class= OS == 'linux' ? 'active' : '', data-platform='linux')
    .label Linux
  li.mac(class= OS == 'osx' ? 'active' : '', data-platform='osx')
    .label Mac OS
  li.windows(class= OS == 'windows' ? 'active' : '', data-platform='windows')
    .label Windows

.install-instructions

h2.block Release History
.release-history
