p.block
  .graph-headline beaker base install
  p.block-half The base install comes with support for Groovy, JavaScript, HTML, Markdown and LaTex.
  a.btn.base-install Download Base Installation

p.block
  | By clicking Download Base Installation, you are indicating that you have read and agree to the
  a.ui-link(href="privacy") &nbsp;Privacy Policy,
  a.ui-link(href="tou") &nbsp;Terms of Use, and the
  a.ui-link(href="license") &nbsp;Beaker License.
