ul.block.text-center
  li.python.language
    .lang-block Py
    .label.
      Python
  li.python.language
    .lang-block Py
    .label.
      Python3
  li.r.language
    .lang-block R
    .label.
      R
  li.julia.language
    .lang-block Jl
    .label.
      Julia
  li.javascript.language
    .lang-block Js
    .label.
      JavaScript
  li.sql.language
    .lang-block Sq
    .label.
      SQL
  li.java.language
    .lang-block Jv
    .label.
      Java
  li.clojure.language
    .lang-block Cj
    .label.
      Clojure
ul.block.text-center
  li.language.html5
    .lang-block Ht
    .label.
      HTML5
  li.node.language
    .lang-block N
    .label.
      Node.js
  li.cpp.language
    .lang-block C
    .label.
      C++
  li.latex.language
    .lang-block La
    .label.
      LaTeX
  li.ruby.language
    .lang-block Rb
    .label.
      Ruby
  li.scala.language
    .lang-block Sc
    .label.
      Scala
  li.groovy.language
    .lang-block Gv
    .label.
      Groovy
  li.kdb.language
    .lang-block K
    .label.
      Kdb
