ul.block
  li.python.language
    .lang-block Py
    .label.
      Python
  li.python.language
    .lang-block Py
    .label.
      Python3
  li.r.language
    .lang-block R
    .label.
      R
  li.julia.language
    .lang-block Jl
    .label.
      Julia
  li.javascript.language
    .lang-block Js
    .label.
      JavaScript
  li.groovy.language
    .lang-block Gv
    .label.
      Groovy
ul.block
  li.language.html5
    .lang-block Ht
    .label.
      HTML5
  li.node.language
    .lang-block N
    .label.
      Node.js
  li.latex.language
    .lang-block La
    .label.
      LaTeX
  li.ruby.language
    .lang-block Rb
    .label.
      Ruby
  li.scala.language
    .lang-block Sc
    .label.
      Scala
  li.java.language
    .lang-block Jv
    .label.
      Java
