!= templates["install-top"]()
p.block
  .graph-headline optional components
  p.block-half
    | We recommend using the install-dependencies.sh script (included in the download) to install the dependencies and plugins with one command.  It was written for and tested on Ubuntu.
