!= templates["install-top"]()
a(name="IPython")
a(name="Python3")
a(name="R")
a(name="Julia")
a(name="Node")
a(name="Ruby")
p.block
  .graph-headline starting beaker
  p.block-half
    | Use the beaker.command script to launch the application.  It starts the server and opens your web browser with a connection to it.
p.block
  .graph-headline optional components
  a(name="Releases")
  p.block-half
    | We recommend using the install-dependencies.sh script (included in the download) to install the dependencies and plugins with one command.  It was written for and tested on Ubuntu.
