p.block
  .graph-headline base install
  p.block-half Base install is always required and comes with support for JavaScript, HTML, Markdown, Groovy and LaTex.
  a.btn.base-install(href="http://d299yghl10frh5.cloudfront.net/beaker-notebook-v1.0-0-g5644b78-ubuntu.zip", target="_blank") Download Base Installation

