p.block
  .graph-headline base install
  p.block-half The base install comes with support for Groovy, JavaScript, HTML, Markdown and LaTex.
  a.btn.base-install Download Base Installation

p.block
  .graph-headline optional components
  p.block-half
    | We recommend using the install-dependencies.sh script (included in the download) to install the dependencies and plugins with one command.  It was written for and tested on Ubuntu.
