mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "",
  "The Perfect Tool for Iterative Exploration",
  ""
)

p.block.
  Notebook-style development provides a more exploratory way to write
  code than with traditional IDEs. Notebook interfaces are comprised
  of a series of code blocks, called cells, which can stand alone or
  act in unison. The development process is one of discovery, where a
  developer experiments in one cell, then can continue to write code
  in a subsequent cell depending on results from the
  first. Particularly when analyzing large datasets, this
  <i>conversational</i> approach allows researchers to quickly
  discover patterns or other artifacts of the data.

img.notebook-image(src="img/notebook@2x.png")

+section(
  "section-split",
  "Polyglot - One Notebook Many Languages",
  "We think of Beaker as the Universal Translator for Data Scientists. Beaker’s individual cells support different languages within the same notebook and allow you to pass data from one cell to another - e.g. Python to R to Javascript - seamlessly. This auto-translate functionality allows you to use the language best suited to the problem, by applying those unique strengths of individual languages collaboratively, making the whole always better than the sum of its parts. It’s nice when elegance and logic coincide."
)

!= templates.language_blocks()

+section(
  "section-split",
  "Designed for Data Scientists and Researchers",
  "The interactive development style of Beaker’s cell structure fits well with data science applications and research. Beaker grew out of the inquisitive passion that we have for data at Two Sigma. Of course, we don’t believe in limiting the imagination. We believe that Beaker can be used in a wide variety of disciplines because we designed it from the ground-up to be extended with your own special dialect or library."
)

img.atom-image(src="img/science@2x.png")

+section(
  "section-split",
  "Multiple Platforms and Browser Support",
  "Beaker supports a range of platforms that include Windows, Mac and Linux operating systems as well as Chrome, Firefox and Safari web browsers. Refer to our Getting Started page for more details and specific installation instructions for each operating system."
)

!= templates.platforms()

+section(
  "section-split",
  "Open Source Reciprocity",
  "At Two Sigma, we use Open Source Software and are passionate about contributing back to the community. As such, we want to release part of our favorite technology as open source. We hope you enjoy Beaker as much as we do."
)

img.os-image(src="img/opensource@2x.png")
