ul.block.platforms
  li
    img(src="img/linux@2x.png")
    .label Linux
  li
    img(src="img/mac@2x.png")
    .label Mac OS
  li
    img(src="img/windows@2x.png")
    .label Windows
  li.split
    .divider
  li
    img(src="img/chrome@2x.png")
    .label Chrome
  li
    img(src="img/firefox@2x.png")
    .label Firefox
  li
    img(src="img/safari@2x.png")
    .label Safari
