.releases.markdown
  :markdown
    ####  Current Version - 1.1.2 - 2014.11.5

    * Fix problem where a missing backend prevents the whole notebook from loading [#836](https://github.com/twosigma/beaker-notebook/issues/836), [#845](https://github.com/twosigma/beaker-notebook/issues/845)

    ####  1.1.1 - 2014.10.31

    * Fix problem with defining functions in R [#827](https://github.com/twosigma/beaker-notebook/issues/827)

    ####  1.1 - 2014.10.30

    * New table (dataframe) display [#716](https://github.com/twosigma/beaker-notebook/issues/716), [#717](https://github.com/twosigma/beaker-notebook/issues/717), [#735](https://github.com/twosigma/beaker-notebook/issues/735), [#432](https://github.com/twosigma/beaker-notebook/issues/432), [#270](https://github.com/twosigma/beaker-notebook/issues/270), [#760](https://github.com/twosigma/beaker-notebook/issues/760), [#777](https://github.com/twosigma/beaker-notebook/issues/777)
    * Able to open larger notebooks without freezing by loading plugins before rendering the notebook (however the downside of this is you can't see the notebook while the plugins load) [#751](https://github.com/twosigma/beaker-notebook/pull/751)
    * Most keyboard commands (especially command-enter to run the current cell) can now be accessed with command key, not just control (for Mac users) [#220](https://github.com/twosigma/beaker-notebook/issues/220), [#778](https://github.com/twosigma/beaker-notebook/issues/778)
    * Python3 support [#695](https://github.com/twosigma/beaker-notebook/issues/695), [#740](https://github.com/twosigma/beaker-notebook/issues/740)
    * Direct access to autotranslation in python without a function call (`beaker.x` instead of `beaker.get("x")`) [#675](https://github.com/twosigma/beaker-notebook/issues/675)
    * Add the ability to control the size of R plots [#707](https://github.com/twosigma/beaker-notebook/issues/707)
    * Correctly suppress invisible results from R [#232](https://github.com/twosigma/beaker-notebook/issues/232)
    * Add the ability to share d3 plots [#691](https://github.com/twosigma/beaker-notebook/issues/691)
    * Replace the d3 tutorial, various tutorial polish [#685](https://github.com/twosigma/beaker-notebook/issues/685), [#729](https://github.com/twosigma/beaker-notebook/issues/729), [#730](https://github.com/twosigma/beaker-notebook/issues/730), [#732](https://github.com/twosigma/beaker-notebook/issues/732), [#754](https://github.com/twosigma/beaker-notebook/issues/754), [#790](https://github.com/twosigma/beaker-notebook/issues/790)
    * Do not hide "falsey" evaluation results [#444](https://github.com/twosigma/beaker-notebook/issues/444)
    * Fixed Docker container port remapping and Python plugin [#702](https://github.com/twosigma/beaker-notebook/issues/702)
    * Sharing server now supports levels of detail and section toggling
    * Sharing server URL location is configurable [#769](https://github.com/twosigma/beaker-notebook/issues/769)
    * Fixed display of dataframes in python mangled by pandas groupby operation [#694](https://github.com/twosigma/beaker-notebook/issues/694)
    * Interaction state of plots and tables saved in the notebook and shareable [#413](https://github.com/twosigma/beaker-notebook/issues/413)
    * Remove deprecated --pylab option from IPython [#165](https://github.com/twosigma/beaker-notebook/issues/165)
    * When loading a plugin from a cross-origin URL, show a dialog warning the user that it could be unsafe [#144](https://github.com/twosigma/beaker-notebook/issues/144)
    * Better cache busting method (so you should not have to clear the cache when you upgrade Beaker) [#742](https://github.com/twosigma/beaker-notebook/issues/742)
    * Changed short name of Groovy from Gr to Gv [#687](https://github.com/twosigma/beaker-notebook/issues/687)
    * Avoid Java icon in dock [#688](https://github.com/twosigma/beaker-notebook/issues/688)
    * Improve plot handling of NaNs [#697](https://github.com/twosigma/beaker-notebook/issues/697)
    * New icon, favicon, and branding [#755](https://github.com/twosigma/beaker-notebook/issues/755)
    * Update JRE from 7u60 to 7u71
    
    ####  1.0 - 2014.09.24

    * Redesigned UI that is beautiful and easier to use.
    * Autotranslation of data between languages.
    * Interactive charting, including with levels-of-detail.
    * Docker container for easy deployment.
    * Detect when connection to server is lost and give extra chance to
      save the notebook.
    * Plugin manager allows removing languages from a notebook.
    * Security fix for Julia on multiuser systems.
    * Removed Ruby from plugin manager because it is insecure on
      multiuser systems (but it can still be added by entering its URL).
    * Rewrite tutorials.
    * Numerous bug fixes.
    * Groovy supports classpath to access JARS, and default imports.
    * R supports interrupting evaluations.


    ####  0.55 - 2014.07.17
    
    * Major upgrade of the security model: backends are now protected even on multi-user systems.
    * Add public server option so that you can access Beaker over the internet, not just locally. Includes HTTPS encryption.
    * Refactor the Javascript to conform to Angular guidelines.
    * Improve file load/save dialogs to be easier to use and handle errors.
    * Shared notebooks can be downloaded from the resulting share page, and the sharing viewer can open a notebook file hosted anywhere.
    * On Mac, add a native application to wrap and launch the web app. The native app includes the JRE, eliminating an external dependency for users.
    * On Windows, include the JRE, nginx, and python in our distribution.
    * On Ubuntu, include a script to install all dependencies and language plugins.


    #### 0.52.4 - 2014.05.03

    * Security fix: close ports to external access.


    #### 0.52.1 - 2014.05.02

    * Fix loading nginx dynamic libraries on Mac.


    #### 0.52 - 2014.04.29

    * First public release.
