.releases.markdown
  :markdown
    ####  Current Version - 1.0 - 2014.09.24
    
    * Redesigned UI that is beautiful and easier to use.
    * Autotranslation of data between languages.
    * Interactive charting, including with levels-of-detail.
    * Docker container for easy deployment.
    * Detect when connection to server is lost and give extra chance to
      save the notebook.
    * Plugin manager allows removing languages from a notebook.
    * Security fix for Julia on multiuser systems.
    * Removed Ruby from plugin manager because it is insecure on
      multiuser systems (but it can still be added by entering its URL).
    * Rewrite tutorials.
    * Numerous bug fixes.
    * Groovy supports classpath to access JARS, and default imports.
    * R supports interrupting evaluations.


    ####  0.55 - 2014.07.17
    
    * Major upgrade of the security model: backends are now protected even on multi-user systems.
    * Add public server option so that you can access Beaker over the internet, not just locally. Includes HTTPS encryption.
    * Refactor the Javascript to conform to Angular guidelines.
    * Improve file load/save dialogs to be easier to use and handle errors.
    * Shared notebooks can be downloaded from the resulting share page, and the sharing viewer can open a notebook file hosted anywhere.
    * On Mac, add a native application to wrap and launch the web app. The native app includes the JRE, eliminating an external dependency for users.
    * On Windows, include the JRE, nginx, and python in our distribution.
    * On Ubuntu, include a script to install all dependencies and language plugins.


    #### 0.52.4 - 2014.05.03

    * Security fix: close ports to external access.


    #### 0.52.1 - 2014.05.02

    * Fix loading nginx dynamic libraries on Mac.


    #### 0.52 - 2014.04.29

    * First public release.
