.releases.markdown
  :markdown
    ####  Current Version - 1.6 - 2016.04.22

    * New table UI including filtering, searching, bar charts, heat maps, tighter spacing in advanced mode, drag to resize columns, quick switching from pagination to scrolling, and menus for each column. [#2836](https://github.com/twosigma/beaker-notebook/issues/2836), [#3591](https://github.com/twosigma/beaker-notebook/issues/3591), [#3777](https://github.com/twosigma/beaker-notebook/issues/3777).
    * Improved autocomplete including documentation and arguments [#2831](https://github.com/twosigma/beaker-notebook/issues/2831).
    * New landing page [#3567](https://github.com/twosigma/beaker-notebook/issues/3567), [#3602](https://github.com/twosigma/beaker-notebook/issues/3602).
    * Improved handling of 64-bit integers and bignums in tables and autotranslation [#3332](https://github.com/twosigma/beaker-notebook/issues/3332), [#3511](https://github.com/twosigma/beaker-notebook/issues/3511).
    * New plot interaction APIs to get callbacks and trigger running cells when the user clicks on a plot [#2888](https://github.com/twosigma/beaker-notebook/issues/2888).
    * JavaScript supports ECMAScript 2015 [#1625](https://github.com/twosigma/beaker-notebook/issues/1625).
    * Added JavaDoc for interal plotting, output containers, and layout manager APIs [#2632](https://github.com/twosigma/beaker-notebook/issues/2632), [#3525](https://github.com/twosigma/beaker-notebook/issues/3525).
    * Can select lines with line numbers [#3233](https://github.com/twosigma/beaker-notebook/issues/3233).
    * Flattened menus for faster access [#907](https://github.com/twosigma/beaker-notebook/issues/907).
    * Updated KaTeX to version 0.5 [#3113](https://github.com/twosigma/beaker-notebook/issues/3113).
    * Dynamic loader moved to parent-first, fixing a number of class loader issues like access to Grape and Lucene [#2658](https://github.com/twosigma/beaker-notebook/issues/2658), [#3612](https://github.com/twosigma/beaker-notebook/issues/3612), [#2276](https://github.com/twosigma/beaker-notebook/issues/2276).
    * Added command to reset all backends and run all init cells (control-R), run all cells (F5), and other keyboard shortcuts [#3784](https://github.com/twosigma/beaker-notebook/issues/3784), [#3800](https://github.com/twosigma/beaker-notebook/issues/3800), [#3545](https://github.com/twosigma/beaker-notebook/issues/3545).
    * R backend can now be reset, does not loose focus on startup on Mac [#3828](https://github.com/twosigma/beaker-notebook/issues/3828), [#3355](https://github.com/twosigma/beaker-notebook/issues/3355).
    * Java no longer confused by comments, errors not mangled, interfaces and static imports supported [#3768](https://github.com/twosigma/beaker-notebook/issues/3768), [#3760](https://github.com/twosigma/beaker-notebook/issues/3760), [#3762](https://github.com/twosigma/beaker-notebook/issues/3762), [#3761](https://github.com/twosigma/beaker-notebook/issues/3761).
    * Language manager improvements: warn about closing without saving, tooltips with documentation, progress feedback during changes, API access to language settings [#2982](https://github.com/twosigma/beaker-notebook/issues/2982), [#3677](https://github.com/twosigma/beaker-notebook/issues/3677), [#2613](https://github.com/twosigma/beaker-notebook/issues/2613), [#3727](https://github.com/twosigma/beaker-notebook/issues/3727), [#3562](https://github.com/twosigma/beaker-notebook/issues/3562), [#3479](https://github.com/twosigma/beaker-notebook/issues/3479), [#2972](https://github.com/twosigma/beaker-notebook/issues/2972).
    * HTML cells now handle `<textarea>` elements [#3436](https://github.com/twosigma/beaker-notebook/issues/3436).
    * Code editing changed to word-wrap by default (but you can still set any cell back to scroll with the menu) [#3423](https://github.com/twosigma/beaker-notebook/issues/3423), [#3704](https://github.com/twosigma/beaker-notebook/issues/3704).
    * For a complete list of the 286 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2016-01-22..2016-04-22).

    ####  1.5.2 - 2016.03.07 (1.5.3 for Electron versions)

    * Security fix to XSRF bug [#3627](https://github.com/twosigma/beaker-notebook/issues/3627).

    ####  1.5.1 - 2016.01.22

    * ESC or clicking away the "File Exists" dialog is broken [#3395](https://github.com/twosigma/beaker-notebook/issues/3395).
    * In ambiance theme, dangerous buttons should be red [#3384](https://github.com/twosigma/beaker-notebook/issues/3384).
    * Fixed CategoryLines style [#3387](https://github.com/twosigma/beaker-notebook/issues/3387).
    * Fixed Stems style [#3381](https://github.com/twosigma/beaker-notebook/issues/3381).
    * Fixed cumulative flag when normed flag set on histograms [#3407](https://github.com/twosigma/beaker-notebook/issues/3407).
    * Make logo color a parameter [#3088](https://github.com/twosigma/beaker-notebook/issues/3088).
    * Fixed plot resize thumb in ambiance theme [#3392](https://github.com/twosigma/beaker-notebook/issues/3392).
    * Fixed changing theme marks notebook as edited [#3385](https://github.com/twosigma/beaker-notebook/issues/3385).

    ####  1.5 - 2016.01.17

    * Add a [light-on-dark](https://twitter.com/beakernotebook/status/682233629460795393) theme (ambiance) [#2830](https://github.com/twosigma/beaker-notebook/issues/2830).
    * Add [Lua/Torch](https://pub.beakernotebook.com/publications/56841828-95ab-49ed-bd02-8965c914bbd5?fullscreen=false) support [#1060](https://github.com/twosigma/beaker-notebook/issues/1060).
    * Improve [Clojure](https://pub.beakernotebook.com/publications/560b4e07-6785-4cc1-95d6-bde1ab80ff8f) support, including autotranslation, autocomplete, namespaces, and require [#2475](https://github.com/twosigma/beaker-notebook/issues/2475), [#2478](https://github.com/twosigma/beaker-notebook/issues/2478), [#2476](https://github.com/twosigma/beaker-notebook/issues/2476).
    * Add [autotranslation](https://pub.beakernotebook.com/publications/560b4c5e-ace8-459d-aaf7-1e78b22dce12?fullscreen=false) to Julia [#815](https://github.com/twosigma/beaker-notebook/issues/815).
    * Add many native chart types ([bar charts](https://pub.beakernotebook.com/publications/569d744e-a456-44cd-a1e4-5e3744db1869?fullscreen=true), [histograms](https://pub.beakernotebook.com/publications/569d7600-833d-4d95-a330-5ec8c1578b84?fullscreen=true), [heat maps](https://pub.beakernotebook.com/publications/569d770f-9949-4d84-ae1b-2087d3398448?fullscreen=true), and [tree maps](https://pub.beakernotebook.com/publications/569d77a7-ad09-4958-ad97-eca4316695a9?fullscreen=true)).
    * Support NanoPlots with nanosecond resolution (64-bit integers in in this circumstance JS).
    * Layout Managers for [Output Containers](https://pub.beakernotebook.com/publications/56947b5d-26f2-4c79-9a1d-17e4912f7734) (columns, tabbed, cycling, dashboards, and stacked) [#2997](https://github.com/twosigma/beaker-notebook/issues/2997).
    * 10x faster opening of large notebooks [#2334](https://github.com/twosigma/beaker-notebook/issues/2334).
    * Fixed time plot labels [#3061](https://github.com/twosigma/beaker-notebook/issues/3061), [#3052](https://github.com/twosigma/beaker-notebook/issues/3052).
    * Portable version for Windows, run self-contained on thumb drive [#2779](https://github.com/twosigma/beaker-notebook/issues/2779).
    * Fix server disconnection problem [#2946](https://github.com/twosigma/beaker-notebook/issues/2946).
    * Added Sublime code editing key bindings option [#2993](https://github.com/twosigma/beaker-notebook/issues/2993).
    * Plotly works in R without iframe [#3053](https://github.com/twosigma/beaker-notebook/issues/3053).
    * Fix Scala on Windows [#3292](https://github.com/twosigma/beaker-notebook/issues/3292).
    * Fix Kdb on Windows [#3371](https://github.com/twosigma/beaker-notebook/issues/3371).
    * Many fixes for Electron versions.
    * For a complete list of the 447 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2015-10-01..2016-01-17).
    
    ####  1.4.2 - 2015.10.20

    * Fix IRuby backend in Docker [#2644](https://github.com/twosigma/beaker-notebook/issues/2644).
    * Allow unlisted publications [#2588](https://github.com/twosigma/beaker-notebook/issues/2588).
    * Fix handling of Groovy [null] [#2646](https://github.com/twosigma/beaker-notebook/issues/2646).
    * Raised autotranslation limit to 16MB [#2652](https://github.com/twosigma/beaker-notebook/pull/2652).
    * Fixed Auto-complete on Windows in Groovy [#2687](https://github.com/twosigma/beaker-notebook/issues/2687).
    * Improve error reporting on Python version mismatch [#2723](https://github.com/twosigma/beaker-notebook/issues/2723).
    * Fix link to documentation on case-sensitive filesystems [#2749](https://github.com/twosigma/beaker-notebook/issues/2749).
    * On Windows, allow saving to drives other than C: [#2685](https://github.com/twosigma/beaker-notebook/issues/2685).
    * Fix section numbering in hierarchy view [#2689](https://github.com/twosigma/beaker-notebook/issues/2689).

    ####  1.4.1 - 2015.10.06

    * Fix Python in Docker container [#2591](https://github.com/twosigma/beaker-notebook/issues/2591).
    * Fix language prefs path on Windows [#2622](https://github.com/twosigma/beaker-notebook/issues/2622).
    * LaTeX not enabled by default [#2618](https://github.com/twosigma/beaker-notebook/issues/2618).
    * Fix Windows Electron process leak [#2555](https://github.com/twosigma/beaker-notebook/issues/2555).

    ####  1.4 - 2015.10.01

    * Support [C++](https://pub.beakernotebook.com/publications/560b4ea6-5a57-4298-84e3-a3057c1ee4b4?fullscreen=true) and [SQL](https://pub.beakernotebook.com/publications/560b4a2f-546b-4929-acd7-0d47365b896e?fullscreen=true).
    * Support [Scala Spark](https://pub.beakernotebook.com/publications/560cb7e9-68b4-4659-9863-ce5d6ce93dd4?fullscreen=true).
    * Support [IPython widgets](https://pub.beakernotebook.com/publications/560d93db-8940-42aa-aeb0-b0fd1af81b3b?fullscreen=true).
    * Support [ggvis](https://pub.beakernotebook.com/publications/560ca254-071b-4647-8073-c4f941ca02e8?fullscreen=true) and [bokeh](https://pub.beakernotebook.com/publications/560ca17d-b941-4607-8f8e-dd2d5820a131?fullscreen=true).
    * New [publication server](http://pub.beakernotebook.com).
    * Add [EasyForm API](https://pub.beakernotebook.com/publications/560ca655-12df-43b9-9ecd-5714766b8fc4?fullscreen=true).
    * Many improvements to the native [time-series plotting API](https://github.com/twosigma/beaker-notebook/issues/1458).
    * New experimental native [Electron builds](https://github.com/twosigma/beaker-notebook/wiki/Electron-Beaker).
    * Supports IPython 4.0 protocol (except we have a regression of [4.0 and Docker](https://github.com/twosigma/beaker-notebook/issues/2591), so watch for 1.4.1).
    * Consistent use the [Roboto Mono typeface](https://www.google.com/fonts/specimen/Roboto+Mono) for code.
    * [Template expansion](https://pub.beakernotebook.com/publications/560b54da-3c14-4890-8b64-b204bc798320?fullscreen=true) in text cells.
    * Improved UI for [inserting cells](https://github.com/twosigma/beaker-notebook/issues/1799#issuecomment-145197219).
    * Improved UI for [hierarchy view](https://github.com/twosigma/beaker-notebook/issues/470#issuecomment-128892348).
    * New key command to evaluate code line-by-line, or evaluate any selected snippet of code [#2181](https://github.com/twosigma/beaker-notebook/issues/2181).
    * Support for displaying [docstrings](https://github.com/twosigma/beaker-notebook/issues/1501#issuecomment-145198624) in Python.
    * For a complete list of the 341 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2015-07-01..2015-10-01).

    ####  1.3.4 - 2015.08.07

    * Fix compatibility with IPython 3.2.1 [#2003](https://github.com/twosigma/beaker-notebook/issues/2003).
    * Fix R outputing graphics and value at the same time [#2020](https://github.com/twosigma/beaker-notebook/issues/2020).
    * Update Ruby to work with latest version [#1990](https://github.com/twosigma/beaker-notebook/issues/1990).
    * Allow iframes in HTML [#1925](https://github.com/twosigma/beaker-notebook/issues/1925).

    ####  1.3.3 - 2015.07.24

    * Fix IPython in Safari [#1952](https://github.com/twosigma/beaker-notebook/issues/1952).

    ####  1.3.2 - 2015.07.11

    * Fix R in the Docker Container [#1918](https://github.com/twosigma/beaker-notebook/issues/1918).
    
    ####  1.3.1 - 2015.06.26

    * Documentation improvements, especially the dashboard tutorial.
    * Fix tab at beginning of line [#1862](https://github.com/twosigma/beaker-notebook/issues/1862).
    * Fix Scala class loader concurrency bug [#1855](https://github.com/twosigma/beaker-notebook/issues/1855).

    ####  1.3 - 2015.06.26

    * Support PySpark and SparkR [#1521](https://github.com/twosigma/beaker-notebook/issues/1521).
    * Support Clojure and Kdb.
    * Autotranslation improvements such as autodecting date/times, dataframes, images, etc [#522](https://github.com/twosigma/beaker-notebook/issues/522), [#1412](https://github.com/twosigma/beaker-notebook/issues/1412), [#1522](https://github.com/twosigma/beaker-notebook/issues/1522), [#1525](https://github.com/twosigma/beaker-notebook/issues/1525), [#1664](https://github.com/twosigma/beaker-notebook/issues/1664).
    * New directory for generating files you can access from HTML. [#708](https://github.com/twosigma/beaker-notebook/issues/708), [#1371](https://github.com/twosigma/beaker-notebook/issues/1371).
    * New editor for text cells and section headers, adding inline math, and fixing bugs with special characters and supporting vim mode [#125](https://github.com/twosigma/beaker-notebook/issues/125), [#555](https://github.com/twosigma/beaker-notebook/issues/555), [#704](https://github.com/twosigma/beaker-notebook/issues/704), [#1315](https://github.com/twosigma/beaker-notebook/issues/1315), [#1345](https://github.com/twosigma/beaker-notebook/issues/1345), [1362](https://github.com/twosigma/beaker-notebook/issues/1362), [#1407](https://github.com/twosigma/beaker-notebook/issues/1407).
    * New data frame interface, including column formatting options [#818](https://github.com/twosigma/beaker-notebook/issues/818), [#1270](https://github.com/twosigma/beaker-notebook/issues/1270), [#1279](https://github.com/twosigma/beaker-notebook/issues/1279), [#1437](https://github.com/twosigma/beaker-notebook/issues/1437), [#1599](https://github.com/twosigma/beaker-notebook/issues/1599), [#1668](https://github.com/twosigma/beaker-notebook/issues/1668), [#1715](https://github.com/twosigma/beaker-notebook/issues/1715).
    * New insert cell button in advanced mode [#1241](https://github.com/twosigma/beaker-notebook/issues/1241).
    * Restore IRuby [#1129](https://github.com/twosigma/beaker-notebook/issues/1129).
    * IPython handle laptops going to sleep. [#1576](https://github.com/twosigma/beaker-notebook/issues/1576).
    * Allow editing default imports of Python [#1188](https://github.com/twosigma/beaker-notebook/issues/1188).
    * Improved JavaScript stack traces [#889](https://github.com/twosigma/beaker-notebook/issues/889), [#1357](https://github.com/twosigma/beaker-notebook/issues/1357).
    * Add printing to cell output from JavaScript [#333](https://github.com/twosigma/beaker-notebook/issues/333).
    * Improved key-bindings, autoindent, and autocomplete [#1365](https://github.com/twosigma/beaker-notebook/issues/1365), [#1467](https://github.com/twosigma/beaker-notebook/issues/1467), [#1468](https://github.com/twosigma/beaker-notebook/issues/1468), [#1505](https://github.com/twosigma/beaker-notebook/issues/1505), [#1649](https://github.com/twosigma/beaker-notebook/issues/1649), [#1661](https://github.com/twosigma/beaker-notebook/issues/1661), [#1670](https://github.com/twosigma/beaker-notebook/issues/1670), [#1773](https://github.com/twosigma/beaker-notebook/issues/1773).
    * Much faster math (TeX) rendering via KaTeX [#698](https://github.com/twosigma/beaker-notebook/issues/698).
    * Handle very large charts from R [#1540](https://github.com/twosigma/beaker-notebook/issues/1540).
    * Better handling of output from R [#1612](https://github.com/twosigma/beaker-notebook/issues/1612), [#1622](https://github.com/twosigma/beaker-notebook/issues/1622).
    * Improved vertical density, especially of advanced mode [#578](https://github.com/twosigma/beaker-notebook/issues/578), [#1360](https://github.com/twosigma/beaker-notebook/issues/1360), [#1483](https://github.com/twosigma/beaker-notebook/issues/1483), [#1565](https://github.com/twosigma/beaker-notebook/issues/1565), [#1566](https://github.com/twosigma/beaker-notebook/issues/1566).
    * Increase and improve the included tutorial documentation, and the website [#1400](https://github.com/twosigma/beaker-notebook/issues/1400), [#1528](https://github.com/twosigma/beaker-notebook/issues/1528), [#1604](https://github.com/twosigma/beaker-notebook/issues/1604), [#1642](https://github.com/twosigma/beaker-notebook/issues/1642), [#1775](https://github.com/twosigma/beaker-notebook/issues/1775), [#1784](https://github.com/twosigma/beaker-notebook/issues/1784), [#1785](https://github.com/twosigma/beaker-notebook/issues/1785), [#1833](https://github.com/twosigma/beaker-notebook/issues/1833).
    * Misc UI and layout [#455](https://github.com/twosigma/beaker-notebook/issues/455), [#569](https://github.com/twosigma/beaker-notebook/issues/569), [#577](https://github.com/twosigma/beaker-notebook/issues/577), [#676](https://github.com/twosigma/beaker-notebook/issues/676), [#1200](https://github.com/twosigma/beaker-notebook/issues/1200) [#1363](https://github.com/twosigma/beaker-notebook/issues/1363), [#1382](https://github.com/twosigma/beaker-notebook/issues/1382), [#1403](https://github.com/twosigma/beaker-notebook/issues/1408), [#1420](https://github.com/twosigma/beaker-notebook/issues/1420), [#1421](https://github.com/twosigma/beaker-notebook/issues/1421), [#1422](https://github.com/twosigma/beaker-notebook/issues/1422), [#1423](https://github.com/twosigma/beaker-notebook/issues/1423), [#1430](https://github.com/twosigma/beaker-notebook/issues/1430), [#1493](https://github.com/twosigma/beaker-notebook/issues/1493), [#1494](https://github.com/twosigma/beaker-notebook/issues/1494), [#1568](https://github.com/twosigma/beaker-notebook/issues/1568), [#1571](https://github.com/twosigma/beaker-notebook/issues/1571), [#1574](https://github.com/twosigma/beaker-notebook/issues/1574), [#1608](https://github.com/twosigma/beaker-notebook/issues/1608), [#1627](https://github.com/twosigma/beaker-notebook/issues/1627), [#1631](https://github.com/twosigma/beaker-notebook/issues/1631), [#1646](https://github.com/twosigma/beaker-notebook/issues/1646), [#1675](https://github.com/twosigma/beaker-notebook/issues/1675), [#1737](https://github.com/twosigma/beaker-notebook/issues/1737), [#1774](https://github.com/twosigma/beaker-notebook/issues/1774), [#1807](https://github.com/twosigma/beaker-notebook/issues/1807).
    * Fixed cookies leak that caused IPython to stop working after extended use [#750](https://github.com/twosigma/beaker-notebook/issues/750).
    * Add attribution page as required by some licenses [#1733](https://github.com/twosigma/beaker-notebook/issues/1733).
    * Infrastructure improvements like concatenating the JS into fewer files, and upgrading from Java 7 to 8 [#409](https://github.com/twosigma/beaker-notebook/issues/409), [#897](https://github.com/twosigma/beaker-notebook/issues/897), [#1229](https://github.com/twosigma/beaker-notebook/issues/1229), [#1384](https://github.com/twosigma/beaker-notebook/issues/1384), [#1388](https://github.com/twosigma/beaker-notebook/issues/1388), [#1445](https://github.com/twosigma/beaker-notebook/issues/1445), [#1463](https://github.com/twosigma/beaker-notebook/issues/1463), [#1600](https://github.com/twosigma/beaker-notebook/issues/1600), [#1619](https://github.com/twosigma/beaker-notebook/issues/1619), [#1703](https://github.com/twosigma/beaker-notebook/issues/1703), [#1734](https://github.com/twosigma/beaker-notebook/issues/1734).
    * JQuery creates circular notebook and crashes [#891](https://github.com/twosigma/beaker-notebook/issues/891), [#1409](https://github.com/twosigma/beaker-notebook/issues/1409).
    * Fix proxy confusion, limit authentication headers [#1366](https://github.com/twosigma/beaker-notebook/issues/1366).
    * Other fixes: [#1438](https://github.com/twosigma/beaker-notebook/issues/1438), [#1484](https://github.com/twosigma/beaker-notebook/issues/1484), [#1485](https://github.com/twosigma/beaker-notebook/issues/1485), [#1503](https://github.com/twosigma/beaker-notebook/issues/1503), [#1678](https://github.com/twosigma/beaker-notebook/issues/1678), [#1691](https://github.com/twosigma/beaker-notebook/issues/1691), [#1711](https://github.com/twosigma/beaker-notebook/issues/1711).

    ####  1.2.1 - 2015.03.29

    * Fix Autocompletion when using IPython3 [#1351](https://github.com/twosigma/beaker-notebook/issues/1351).
 
    ####  1.2 - 2015.03.27

    * Support Scala and Java, including sharing classes with Groovy.
    * Support running Python2 and Python3 at the same time, even with different versions of IPython [#776](https://github.com/twosigma/beaker-notebook/issues/776).
    * Allow user to select location of language backend from their beaker.prefs.json file, as well as the options passed to it [#1166](https://github.com/twosigma/beaker-notebook/issues/1166).
    * Works with IPython3 (in addtion to 1 and 2) [#1222](https://github.com/twosigma/beaker-notebook/issues/1222).
    * Works with Mac OS 10.6 and 10.7 [#408](https://github.com/twosigma/beaker-notebook/issues/408).
    * Works on Macs with old chipsets [#398](https://github.com/twosigma/beaker-notebook/issues/398), [#982](https://github.com/twosigma/beaker-notebook/issues/982).
    * Better error reporting from missing backend [#1180](https://github.com/twosigma/beaker-notebook/issues/1180), [#880](https://github.com/twosigma/beaker-notebook/issues/880), 
    * New API for progress reporting during cell evaluation [#910](https://github.com/twosigma/beaker-notebook/issues/910).
    * New API for fullscreen dashboards [#1025](https://github.com/twosigma/beaker-notebook/issues/1025).
    * New API for reflection (access to other cells source code and results) and control (cell evaluation can trigger evaluation of other cells).
    * Standard output and error output now appear below the cell that produced them instead of in a unified panel [#667](https://github.com/twosigma/beaker-notebook/issues/667), [#937](https://github.com/twosigma/beaker-notebook/issues/937).
    * Add tutorial for loading external JavaScript libraries, in particular p5.js [#1176](https://github.com/twosigma/beaker-notebook/issues/1176).
    * Allow sharing and saving `<canvas>` elements [#1075](https://github.com/twosigma/beaker-notebook/issues/1075).
    * Handle installation and user paths with spaces [#931](https://github.com/twosigma/beaker-notebook/issues/931).
    * Fix JavaScript injection problem on shared notebooks [#862](https://github.com/twosigma/beaker-notebook/issues/862).
    * New View menu item "close all sections" [#872](https://github.com/twosigma/beaker-notebook/issues/872).
    * Upload notebooks with native file dialog or drag-and-drop [#830](https://github.com/twosigma/beaker-notebook/issues/830), [#857](https://github.com/twosigma/beaker-notebook/issues/857), [#1116](https://github.com/twosigma/beaker-notebook/issues/1116).
    * Improved Language Manager UI.
    * Use scss to improve modularity of styles [#1071](https://github.com/twosigma/beaker-notebook/issues/1071).
    * Support ipynb section headings during import [#1015](https://github.com/twosigma/beaker-notebook/issues/1015).
    * Subsections numbered from 1 instead of 0 [#629](https://github.com/twosigma/beaker-notebook/issues/629).
    * Groovy evaluation is interruptible [#560](https://github.com/twosigma/beaker-notebook/issues/560).
    * Add progress indicator to sharing [#383](https://github.com/twosigma/beaker-notebook/issues/383).
    * UI for tagging cells [#403](https://github.com/twosigma/beaker-notebook/issues/403).
    * R plots made with ggplot2 work on Firefox [#987](https://github.com/twosigma/beaker-notebook/issues/987)
    * On Windows find R via the registry instead of the PATH [#1178](https://github.com/twosigma/beaker-notebook/issues/1178).
    * Improved file open and save dialogs [#904](https://github.com/twosigma/beaker-notebook/issues/904), [#1016](https://github.com/twosigma/beaker-notebook/issues/1016), [#1017](https://github.com/twosigma/beaker-notebook/issues/1017), [#1061](https://github.com/twosigma/beaker-notebook/issues/1061), [#1158](https://github.com/twosigma/beaker-notebook/issues/1158), [#1159](https://github.com/twosigma/beaker-notebook/issues/1159), [#1161](https://github.com/twosigma/beaker-notebook/issues/1161).
    * Massive UI polish [#672](https://github.com/twosigma/beaker-notebook/issues/672), [#673](https://github.com/twosigma/beaker-notebook/issues/673), [#747](https://github.com/twosigma/beaker-notebook/issues/747), [#772](https://github.com/twosigma/beaker-notebook/issues/772), [#819](https://github.com/twosigma/beaker-notebook/issues/819), [#854](https://github.com/twosigma/beaker-notebook/issues/854), [#856](https://github.com/twosigma/beaker-notebook/issues/856), [#874](https://github.com/twosigma/beaker-notebook/issues/874), [#902](https://github.com/twosigma/beaker-notebook/issues/902), [#906](https://github.com/twosigma/beaker-notebook/issues/906), [#968](https://github.com/twosigma/beaker-notebook/issues/968), [#970](https://github.com/twosigma/beaker-notebook/issues/970), [#972](https://github.com/twosigma/beaker-notebook/issues/972), [#990](https://github.com/twosigma/beaker-notebook/issues/990), [#1027](https://github.com/twosigma/beaker-notebook/issues/1027), [#1045](https://github.com/twosigma/beaker-notebook/issues/1045), [#1047](https://github.com/twosigma/beaker-notebook/issues/1047), [#1053](https://github.com/twosigma/beaker-notebook/issues/1053), [#1062](https://github.com/twosigma/beaker-notebook/issues/1062), [#1070](https://github.com/twosigma/beaker-notebook/issues/1070), [#1119](https://github.com/twosigma/beaker-notebook/issues/1119), [#1130](https://github.com/twosigma/beaker-notebook/issues/1130), [#1139](https://github.com/twosigma/beaker-notebook/issues/1139).

    ####  1.1.2 - 2014.11.5

    * Fix problem where a missing backend prevents the whole notebook from loading [#836](https://github.com/twosigma/beaker-notebook/issues/836), [#845](https://github.com/twosigma/beaker-notebook/issues/845)
    * And on 2014.11.11 made a new build of windows, still version 1.1.2 but packaged correctly to fix [#853](https://github.com/twosigma/beaker-notebook/issues/853)
    * And on 2015.01.16 made a new build of mac, still version 1.1.2 but with a hotfix for [#824](https://github.com/twosigma/beaker-notebook/issues/824)

    ####  1.1.1 - 2014.10.31

    * Fix problem with defining functions in R [#827](https://github.com/twosigma/beaker-notebook/issues/827)

    ####  1.1 - 2014.10.30

    * New table (dataframe) display [#716](https://github.com/twosigma/beaker-notebook/issues/716), [#717](https://github.com/twosigma/beaker-notebook/issues/717), [#735](https://github.com/twosigma/beaker-notebook/issues/735), [#432](https://github.com/twosigma/beaker-notebook/issues/432), [#270](https://github.com/twosigma/beaker-notebook/issues/270), [#760](https://github.com/twosigma/beaker-notebook/issues/760), [#777](https://github.com/twosigma/beaker-notebook/issues/777)
    * Able to open larger notebooks without freezing by loading plugins before rendering the notebook (however the downside of this is you can't see the notebook while the plugins load) [#751](https://github.com/twosigma/beaker-notebook/pull/751)
    * Most keyboard commands (especially command-enter to run the current cell) can now be accessed with command key, not just control (for Mac users) [#220](https://github.com/twosigma/beaker-notebook/issues/220), [#778](https://github.com/twosigma/beaker-notebook/issues/778)
    * Python3 support [#695](https://github.com/twosigma/beaker-notebook/issues/695), [#740](https://github.com/twosigma/beaker-notebook/issues/740)
    * Direct access to autotranslation in python without a function call (`beaker.x` instead of `beaker.get("x")`) [#675](https://github.com/twosigma/beaker-notebook/issues/675)
    * Add the ability to control the size of R plots [#707](https://github.com/twosigma/beaker-notebook/issues/707)
    * Correctly suppress invisible results from R [#232](https://github.com/twosigma/beaker-notebook/issues/232)
    * Add the ability to share d3 plots [#691](https://github.com/twosigma/beaker-notebook/issues/691)
    * Replace the d3 tutorial, various tutorial polish [#685](https://github.com/twosigma/beaker-notebook/issues/685), [#729](https://github.com/twosigma/beaker-notebook/issues/729), [#730](https://github.com/twosigma/beaker-notebook/issues/730), [#732](https://github.com/twosigma/beaker-notebook/issues/732), [#754](https://github.com/twosigma/beaker-notebook/issues/754), [#790](https://github.com/twosigma/beaker-notebook/issues/790)
    * Do not hide "falsey" evaluation results [#444](https://github.com/twosigma/beaker-notebook/issues/444)
    * Fixed Docker container port remapping and Python plugin [#702](https://github.com/twosigma/beaker-notebook/issues/702)
    * Sharing server now supports levels of detail and section toggling
    * Sharing server URL location is configurable [#769](https://github.com/twosigma/beaker-notebook/issues/769)
    * Fixed display of dataframes in python mangled by pandas groupby operation [#694](https://github.com/twosigma/beaker-notebook/issues/694)
    * Interaction state of plots and tables saved in the notebook and shareable [#413](https://github.com/twosigma/beaker-notebook/issues/413)
    * Remove deprecated --pylab option from IPython [#165](https://github.com/twosigma/beaker-notebook/issues/165)
    * When loading a plugin from a cross-origin URL, show a dialog warning the user that it could be unsafe [#144](https://github.com/twosigma/beaker-notebook/issues/144)
    * Better cache busting method (so you should not have to clear the cache when you upgrade Beaker) [#742](https://github.com/twosigma/beaker-notebook/issues/742)
    * Changed short name of Groovy from Gr to Gv [#687](https://github.com/twosigma/beaker-notebook/issues/687)
    * Avoid Java icon in dock [#688](https://github.com/twosigma/beaker-notebook/issues/688)
    * Improve plot handling of NaNs [#697](https://github.com/twosigma/beaker-notebook/issues/697)
    * New icon, favicon, and branding [#755](https://github.com/twosigma/beaker-notebook/issues/755)
    * Update JRE from 7u60 to 7u71
    
    ####  1.0 - 2014.09.24

    * Redesigned UI that is beautiful and easier to use.
    * Autotranslation of data between languages.
    * Interactive charting, including with levels-of-detail.
    * Docker container for easy deployment.
    * Detect when connection to server is lost and give extra chance to
      save the notebook.
    * Plugin manager allows removing languages from a notebook.
    * Security fix for Julia on multiuser systems.
    * Removed Ruby from plugin manager because it is insecure on
      multiuser systems (but it can still be added by entering its URL).
    * Rewrite tutorials.
    * Numerous bug fixes.
    * Groovy supports classpath to access JARS, and default imports.
    * R supports interrupting evaluations.


    ####  0.55 - 2014.07.17
    
    * Major upgrade of the security model: backends are now protected even on multi-user systems.
    * Add public server option so that you can access Beaker over the internet, not just locally. Includes HTTPS encryption.
    * Refactor the JavaScript to conform to Angular guidelines.
    * Improve file load/save dialogs to be easier to use and handle errors.
    * Shared notebooks can be downloaded from the resulting share page, and the sharing viewer can open a notebook file hosted anywhere.
    * On Mac, add a native application to wrap and launch the web app. The native app includes the JRE, eliminating an external dependency for users.
    * On Windows, include the JRE, nginx, and python in our distribution.
    * On Ubuntu, include a script to install all dependencies and language plugins.


    #### 0.52.4 - 2014.05.03

    * Security fix: close ports to external access.


    #### 0.52.1 - 2014.05.02

    * Fix loading nginx dynamic libraries on Mac.


    #### 0.52 - 2014.04.29

    * First public release.
