.releases.markdown
  :markdown
    ####  Current Version - 1.7.1 - 2016.11.22

    * Fix closing dropdown menus [#4939](https://github.com/twosigma/beaker-notebook/issues/4939).
    * Fix yBound in plots [#4944](https://github.com/twosigma/beaker-notebook/issues/4944).
    * Fix save-as of plots with advanced styling [#4918](https://github.com/twosigma/beaker-notebook/issues/4918).
    * Fix top and bottom margins of heatmaps [#4929](https://github.com/twosigma/beaker-notebook/issues/4929).
    * Fix autotranslation for node [#4933](https://github.com/twosigma/beaker-notebook/issues/4933).
    * Fix error reporting from node [#4935](https://github.com/twosigma/beaker-notebook/issues/4935).
    * Update plotly and bokeh tutorials [#4946](https://github.com/twosigma/beaker-notebook/issues/4946).

    ####  1.7 - 2016.11.14

    * Support IPython v5 [#4547](https://github.com/twosigma/beaker-notebook/issues/4547), [#4799](https://github.com/twosigma/beaker-notebook/issues/4799).
    * New file browser [#3818](https://github.com/twosigma/beaker-notebook/issues/3818), [#4810](https://github.com/twosigma/beaker-notebook/issues/4810), [#4642](https://github.com/twosigma/beaker-notebook/issues/4642), [#4626](https://github.com/twosigma/beaker-notebook/issues/4626), [#4625](https://github.com/twosigma/beaker-notebook/issues/4625), [#4613](https://github.com/twosigma/beaker-notebook/issues/4613), [#4552](https://github.com/twosigma/beaker-notebook/issues/4552), [#4551](https://github.com/twosigma/beaker-notebook/issues/4551), [#4514](https://github.com/twosigma/beaker-notebook/issues/4514), [#4513](https://github.com/twosigma/beaker-notebook/issues/4513), [#4421](https://github.com/twosigma/beaker-notebook/issues/4421), [#4420](https://github.com/twosigma/beaker-notebook/issues/4420), [#4419](https://github.com/twosigma/beaker-notebook/issues/4419), [#4343](https://github.com/twosigma/beaker-notebook/issues/4343).
    * Add find and replace [#1466](https://github.com/twosigma/beaker-notebook/issues/1466), [#4803](https://github.com/twosigma/beaker-notebook/issues/4803), [#4755](https://github.com/twosigma/beaker-notebook/issues/4755), [#4739](https://github.com/twosigma/beaker-notebook/issues/4729), [#4728](https://github.com/twosigma/beaker-notebook/issues/4728), [#4727](https://github.com/twosigma/beaker-notebook/issues/4727), [#4726](https://github.com/twosigma/beaker-notebook/issues/4726), [#4725](https://github.com/twosigma/beaker-notebook/issues/4725).
    * Handle tables with many columns without hanging [#4682](https://github.com/twosigma/beaker-notebook/issues/4682), [#4780](https://github.com/twosigma/beaker-notebook/issues/4780), [#4749](https://github.com/twosigma/beaker-notebook/issues/4749), [#4741](https://github.com/twosigma/beaker-notebook/issues/4741).
    * Add loadLibrary for sharing code between notebooks [#3688](https://github.com/twosigma/beaker-notebook/issues/3688), [#4114](https://github.com/twosigma/beaker-notebook/issues/4114).
    * Closed cells show one-line summaries [#3159](https://github.com/twosigma/beaker-notebook/issues/3159), [#4789](https://github.com/twosigma/beaker-notebook/issues/4789), [#4292](https://github.com/twosigma/beaker-notebook/issues/4292), [#4260](https://github.com/twosigma/beaker-notebook/issues/4260), [#4259](https://github.com/twosigma/beaker-notebook/issues/4259), [#4215](https://github.com/twosigma/beaker-notebook/issues/4215).
    * Recent notebooks shown on start page [#4177](https://github.com/twosigma/beaker-notebook/issues/4177).
    * Run-all progress for the top bar [#4100](https://github.com/twosigma/beaker-notebook/issues/4100), [#4516](https://github.com/twosigma/beaker-notebook/issues/4516), [#4508](https://github.com/twosigma/beaker-notebook/issues/4508), [#3388](https://github.com/twosigma/beaker-notebook/issues/3388).
    * Add locking individual cells [#4061](https://github.com/twosigma/beaker-notebook/issues/4061), [#4565](https://github.com/twosigma/beaker-notebook/issues/4565), [#4501](https://github.com/twosigma/beaker-notebook/issues/4501), [#4430](https://github.com/twosigma/beaker-notebook/issues/4430), [#4394](https://github.com/twosigma/beaker-notebook/issues/4394), [#4393](https://github.com/twosigma/beaker-notebook/issues/4393), [#4154](https://github.com/twosigma/beaker-notebook/issues/4154).
    * Option to alert user on cell completion with popup and sound [#3643](https://github.com/twosigma/beaker-notebook/issues/3643).
    * Support paste and drag-and-drop of images into notebook [#3234](https://github.com/twosigma/beaker-notebook/issues/3234), [#4737](https://github.com/twosigma/beaker-notebook/issues/4737), [#4602](https://github.com/twosigma/beaker-notebook/issues/4602).

    ##### Docker
    * Improve Docker experience [#4720](https://github.com/twosigma/beaker-notebook/issues/4720), [#4719](https://github.com/twosigma/beaker-notebook/issues/4719)
    * Include Pandas v0.19 in Docker container [#4858](https://github.com/twosigma/beaker-notebook/issues/4858), [#4822](https://github.com/twosigma/beaker-notebook/issues/4822).
    * Docker build process avoids npm permission problem [#4824](https://github.com/twosigma/beaker-notebook/issues/4824).

    ##### Plots
    * Improve default plotting colors [#4109](https://github.com/twosigma/beaker-notebook/issues/4109), [#4677](https://github.com/twosigma/beaker-notebook/issues/4677), [#4676](https://github.com/twosigma/beaker-notebook/issues/4676).
    * Add advanced styling options [#4902](https://github.com/twosigma/beaker-notebook/pull/4902).
    * Fix time axis labeling in combined plots [#4214](https://github.com/twosigma/beaker-notebook/issues/4214).
    * Fix overlap between Y axis label and tick label [#4113](https://github.com/twosigma/beaker-notebook/issues/4113).
    * Improve plot tooltip API [#4213](https://github.com/twosigma/beaker-notebook/issues/4213), [#4200](https://github.com/twosigma/beaker-notebook/issues/4200).
    * XYStacker handles ragged arrays [#4212](https://github.com/twosigma/beaker-notebook/issues/4212).
    * Add context-menu for saving plots as PNG or SVG [#4452](https://github.com/twosigma/beaker-notebook/issues/4452).
    * Fix box plot with one element, and avoid box plots for non-monotonic data [#4180](https://github.com/twosigma/beaker-notebook/issues/4180).
    * Add tick label visibility options [#4881](https://github.com/twosigma/beaker-notebook/issues/4881), [#4894](https://github.com/twosigma/beaker-notebook/issues/4894).
    * Add legend name option for histograms [#4887](https://github.com/twosigma/beaker-notebook/pull/4887), [#4891](https://github.com/twosigma/beaker-notebook/issues/4891).
    * Category plots correctly promote list to 2D-array [#4863](https://github.com/twosigma/beaker-notebook/issues/4863).
    * Fix panning of empty plots [#4418](https://github.com/twosigma/beaker-notebook/issues/4418).
    * Fix handling of upperMargin and lowerMargin plot parameters [#4115](https://github.com/twosigma/beaker-notebook/issues/4115).
    * Fix plotting tutorial to work in international locales [#4291](https://github.com/twosigma/beaker-notebook/issues/4291).

    ##### Tables
    * Make table interactions programmable [#3595](https://github.com/twosigma/beaker-notebook/issues/3595), [#4320](https://github.com/twosigma/beaker-notebook/issues/4320).
    * Add API for table format control [#3596](https://github.com/twosigma/beaker-notebook/issues/3596).
    * Handle change in R type system that caused tables to appear as text [#4108](https://github.com/twosigma/beaker-notebook/issues/4108).
    * Display map as table even if keys are objects [#4110](https://github.com/twosigma/beaker-notebook/issues/4110).
    * Bar chart in table works with negative values [#3521](https://github.com/twosigma/beaker-notebook/issues/3521).
    * Table save-as CSV should encode HTML [#4838](https://github.com/twosigma/beaker-notebook/issues/4838).
    * Table export handles null cells [#4270](https://github.com/twosigma/beaker-notebook/issues/4270).
    * Add download as CSV for tables [#4482](https://github.com/twosigma/beaker-notebook/issues/4482).
    * Table download CSV fixed for Firefox, copy to clipboard fixed for Safari [#4836](https://github.com/twosigma/beaker-notebook/issues/4836).
    * Table column shifts in Firefox [#4073](https://github.com/twosigma/beaker-notebook/issues/4073).
    * Table highlight border fixed [#4526](https://github.com/twosigma/beaker-notebook/issues/4526).
    * Table column menus mispositioned after use [#4777](https://github.com/twosigma/beaker-notebook/issues/4777).
    * Fix display of Pandas tables after sort_values() [#4095](https://github.com/twosigma/beaker-notebook/issues/4095).
    * Fix handling of timedelta columns in tables [#4574](https://github.com/twosigma/beaker-notebook/issues/4574).
    * Fix alignment of table with one column [#4311](https://github.com/twosigma/beaker-notebook/issues/4311).
    * Fix selecting text from table column search field [#4263](https://github.com/twosigma/beaker-notebook/issues/4263).

    ##### Math
    * Support KaTeX v0.6 [#4055](https://github.com/twosigma/beaker-notebook/issues/4055).
    * Improved error handling from TeX [#3203](https://github.com/twosigma/beaker-notebook/issues/3203).
    * Correctly highlight TeX and JS that are embedded in text cells [#3280](https://github.com/twosigma/beaker-notebook/issues/3280).
    * Fix math inside of backquotes [#1427](https://github.com/twosigma/beaker-notebook/issues/1427).
    
    ##### Node
    * Node supports autotranslation [#4267](https://github.com/twosigma/beaker-notebook/issues/4267).
    * Node supports loading modules with require [#4092](https://github.com/twosigma/beaker-notebook/issues/4092), [#4077](https://github.com/twosigma/beaker-notebook/issues/4077).
    * Node supports using variables from one cell in another [#4068](https://github.com/twosigma/beaker-notebook/issues/4068).
    * Node now handles % operator [#2979](https://github.com/twosigma/beaker-notebook/issues/2979).

    ##### Python
    * Fix colored output from Python magic shell commands [#4089](https://github.com/twosigma/beaker-notebook/issues/4089).
    * Fix Python2 autotranslation of unicode [#4675](https://github.com/twosigma/beaker-notebook/issues/4675).
    * Fix Python2 table display with unicode [#4673](https://github.com/twosigma/beaker-notebook/issues/4673).
    * Fix Python autotranslation of date timezones [#4172](https://github.com/twosigma/beaker-notebook/issues/4172).
    * Add ability to delete and test values in beaker object in Python [#3822](https://github.com/twosigma/beaker-notebook/issues/3822).
    * Better display of errors during initialization of Python [#4333](https://github.com/twosigma/beaker-notebook/issues/4333), [#4334](https://github.com/twosigma/beaker-notebook/issues/4334).
    * Do not rerun Python setup code when reconnecting to a session [#4315](https://github.com/twosigma/beaker-notebook/issues/4315).
    
    ##### Other Languages
    * Support Julia v0.5 [#4855](https://github.com/twosigma/beaker-notebook/pull/4855).
    * Add module browser and loader to JavaScript plugin [#429](https://github.com/twosigma/beaker-notebook/issues/429), [#4042](https://github.com/twosigma/beaker-notebook/issues/4042), [#4041](https://github.com/twosigma/beaker-notebook/issues/4041).
    * Fix SQL handling of comments [#4317](https://github.com/twosigma/beaker-notebook/issues/4317).
    * Fix handling of GStrings (Groovy Strings) in autotranslation [#4271](https://github.com/twosigma/beaker-notebook/issues/4271).
    * Fix handling of javax.swing.ImageIcon in autotranslation [#4052](https://github.com/twosigma/beaker-notebook/issues/4052).
    * Fix Scala on Windows [#4781](https://github.com/twosigma/beaker-notebook/issues/4781).
    * Handle nonserializeable results in Scala [#4272](https://github.com/twosigma/beaker-notebook/issues/4272).
    * Add autocomplete for Scala, upgrade to v2.11.8 [#4345](https://github.com/twosigma/beaker-notebook/issues/4345).
    * Fix thread leak in JVM languages [#4112](https://github.com/twosigma/beaker-notebook/issues/4112).

    ##### Keyboard Handling
    * Add :w and :wq and :q commands to vim mode [#4284](https://github.com/twosigma/beaker-notebook/issues/4284), [#4870](https://github.com/twosigma/beaker-notebook/issues/4870).
    * Fix cmd box in vim mode [#4283](https://github.com/twosigma/beaker-notebook/issues/4283).
    * Fix page up/down keys when editing code [#4628](https://github.com/twosigma/beaker-notebook/issues/4628).
    * On mac in emacs mode, fix control-N [#4772](https://github.com/twosigma/beaker-notebook/issues/4772).
    * Add keybinding to cancel cell execution (control-C on Mac, alt-C on windows) [#4412](https://github.com/twosigma/beaker-notebook/issues/4412), [#4480](https://github.com/twosigma/beaker-notebook/issues/4480).
    * Add keybinding to raise or lower section levels [#4338](https://github.com/twosigma/beaker-notebook/issues/4338).
    * Add keybinding Cmd-shift-U inserts code cell above [#4294](https://github.com/twosigma/beaker-notebook/issues/4294), [#4328](https://github.com/twosigma/beaker-notebook/issues/4328).
    * Add keybinding Cmd-shift-Y to insert a text cell [#4277](https://github.com/twosigma/beaker-notebook/issues/4277).
    * Add keyboard navigation of language manager [#3856](https://github.com/twosigma/beaker-notebook/issues/3856).
    * Fix behavior of Cmd-shift-A in text cell [#4276](https://github.com/twosigma/beaker-notebook/issues/4276).
    * Shift-enter only advances to next cell after evaluation succeeds [#4411](https://github.com/twosigma/beaker-notebook/issues/4411).
    * Shift-enter creates new cell when used on last cell [#4282](https://github.com/twosigma/beaker-notebook/issues/4282).
    * Fix cmd-shift-E in advanced mode [#4416](https://github.com/twosigma/beaker-notebook/issues/4416).

    ##### Miscellaneous
    * False values are now shown [#4088](https://github.com/twosigma/beaker-notebook/issues/4088).
    * GridOutputContainerLayoutManager defaults to two columns [#4198](https://github.com/twosigma/beaker-notebook/issues/4198).
    * Fix JavaScript cell handling of null result [#4605](https://github.com/twosigma/beaker-notebook/issues/4605).
    * HTML cells support template expansion like text cells [#4546](https://github.com/twosigma/beaker-notebook/issues/4546), [#4584](https://github.com/twosigma/beaker-notebook/issues/4584).
    * EasyForm date picker accepts java date not just string [#4857](https://github.com/twosigma/beaker-notebook/issues/4856).
    * Work with new Beaker Lab publication server URL format [#4846](https://github.com/twosigma/beaker-notebook/issues/4846).
    * Start page button reacts to narrow window [#4622](https://github.com/twosigma/beaker-notebook/issues/4622).
    * Long filename breaks start page [#4515](https://github.com/twosigma/beaker-notebook/issues/4515).
    * Autocomplete improved [#4553](https://github.com/twosigma/beaker-notebook/issues/4553), [#4700](https://github.com/twosigma/beaker-notebook/issues/4700).
    * Various edits should mark notebook as dirty [#4385](https://github.com/twosigma/beaker-notebook/issues/4385), [#4377](https://github.com/twosigma/beaker-notebook/issues/4377).
    * Mark notebook dirty sooner when editing text cells [#4378](https://github.com/twosigma/beaker-notebook/issues/4378), [#4739](https://github.com/twosigma/beaker-notebook/issues/4739).
    * Fix performance bug when typing into section headers and text cells [#4909](https://github.com/twosigma/beaker-notebook/issues/4909).
    * Added hysteresis to submenu closing [#4740](https://github.com/twosigma/beaker-notebook/issues/4740).
    * Keep submenus open when mouse leaves [#4702](https://github.com/twosigma/beaker-notebook/issues/4702).
    * Avoid restarting nginx [#4707](https://github.com/twosigma/beaker-notebook/issues/4707), [#4845](https://github.com/twosigma/beaker-notebook/issues/4845).
    * Indicate errors even when section is closed [#4910](https://github.com/twosigma/beaker-notebook/issues/4910).
    * Printing vastly improved [#4153](https://github.com/twosigma/beaker-notebook/issues/4153).
    * Add show/hide toggle to text cells [#4265](https://github.com/twosigma/beaker-notebook/issues/4265).
    * Fix formatting of progress display [#4464](https://github.com/twosigma/beaker-notebook/issues/4464), [#4370](https://github.com/twosigma/beaker-notebook/issues/4370), [#4357](https://github.com/twosigma/beaker-notebook/issues/4357), [#4350](https://github.com/twosigma/beaker-notebook/issues/4350).
    * Wrap text output [#4161](https://github.com/twosigma/beaker-notebook/issues/4161), [#4280](https://github.com/twosigma/beaker-notebook/issues/4280), [#4266](https://github.com/twosigma/beaker-notebook/issues/4266).
    * Fix cursor in cell output menu [#4538](https://github.com/twosigma/beaker-notebook/issues/4538).
    * Reorganize items in cell menu [#4512](https://github.com/twosigma/beaker-notebook/issues/4512).
    * Run button should blur during evaluation [#4253](https://github.com/twosigma/beaker-notebook/issues/4253).
    * When text cells are inserted they get focus ready to type [#4250](https://github.com/twosigma/beaker-notebook/issues/4250).
    * Clicking link in text cell opens new tab [#4249](https://github.com/twosigma/beaker-notebook/issues/4249).
    * Fix shifting of document when modal dialogs appear [#4225](https://github.com/twosigma/beaker-notebook/issues/4225).
    * Fix shadow on cell border in ambiance theme [#4137](https://github.com/twosigma/beaker-notebook/issues/4137).
    * Make the gray used for code font and quote bar easier to see [#4118](https://github.com/twosigma/beaker-notebook/issues/4118).
    * Better handle error of unknown language when a notebook is opened [#4221](https://github.com/twosigma/beaker-notebook/issues/4221).
    * Error text should be in red in ambiance theme [#4550](https://github.com/twosigma/beaker-notebook/issues/4550).
    * Improve error reporting if you open a JSON file that is not a Beaker notebook [#4471](https://github.com/twosigma/beaker-notebook/issues/4471).
    * Notebook path easier to select [#4616](https://github.com/twosigma/beaker-notebook/issues/4616).
    * Provide better default title for publication [#4634](https://github.com/twosigma/beaker-notebook/issues/4634).
    * Hashmap with null key crashes serializer [#4820](https://github.com/twosigma/beaker-notebook/issues/4820).
    * Improved error handling during serialization [#4783](https://github.com/twosigma/beaker-notebook/issues/4783).
    * Fix closing a notebook from the start page while it is still open in another tab [#4379](https://github.com/twosigma/beaker-notebook/issues/4379).
    * Provide access to version string via beaker object [#2097](https://github.com/twosigma/beaker-notebook/issues/2097).
    * Use SLF4J for all logging instead of printing [#4298](https://github.com/twosigma/beaker-notebook/issues/4298).
    * Fix permissions on session backup directory [#4281](https://github.com/twosigma/beaker-notebook/issues/4281), [#4296](https://github.com/twosigma/beaker-notebook/issues/4296).
    * Improve documentation of emoji in text cells [#4258](https://github.com/twosigma/beaker-notebook/issues/4258).
    * For a complete list of all 408 issues see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2016-04-22..2016-11-14).

    ####  1.6 - 2016.04.22

    * New table UI including filtering, searching, bar charts, heat maps, tighter spacing in advanced mode, drag to resize columns, quick switching from pagination to scrolling, and menus for each column. [#2836](https://github.com/twosigma/beaker-notebook/issues/2836), [#3591](https://github.com/twosigma/beaker-notebook/issues/3591), [#3777](https://github.com/twosigma/beaker-notebook/issues/3777).
    * Improved autocomplete including documentation and arguments [#2831](https://github.com/twosigma/beaker-notebook/issues/2831).
    * New landing page [#3567](https://github.com/twosigma/beaker-notebook/issues/3567), [#3602](https://github.com/twosigma/beaker-notebook/issues/3602).
    * Improved handling of 64-bit integers and bignums in tables and autotranslation [#3332](https://github.com/twosigma/beaker-notebook/issues/3332), [#3511](https://github.com/twosigma/beaker-notebook/issues/3511).
    * New plot interaction APIs to get callbacks and trigger running cells when the user clicks on a plot [#2888](https://github.com/twosigma/beaker-notebook/issues/2888).
    * JavaScript supports ECMAScript 2015 [#1625](https://github.com/twosigma/beaker-notebook/issues/1625).
    * Added JavaDoc for interal plotting, output containers, and layout manager APIs [#2632](https://github.com/twosigma/beaker-notebook/issues/2632), [#3525](https://github.com/twosigma/beaker-notebook/issues/3525).
    * Can select lines with line numbers [#3233](https://github.com/twosigma/beaker-notebook/issues/3233).
    * Flattened menus for faster access [#907](https://github.com/twosigma/beaker-notebook/issues/907).
    * Updated KaTeX to version 0.5 [#3113](https://github.com/twosigma/beaker-notebook/issues/3113).
    * Dynamic loader moved to parent-first, fixing a number of class loader issues like access to Grape and Lucene [#2658](https://github.com/twosigma/beaker-notebook/issues/2658), [#3612](https://github.com/twosigma/beaker-notebook/issues/3612), [#2276](https://github.com/twosigma/beaker-notebook/issues/2276).
    * Added command to reset all backends and run all init cells (control-R), run all cells (F5), and other keyboard shortcuts [#3784](https://github.com/twosigma/beaker-notebook/issues/3784), [#3800](https://github.com/twosigma/beaker-notebook/issues/3800), [#3545](https://github.com/twosigma/beaker-notebook/issues/3545).
    * R backend can now be reset, does not loose focus on startup on Mac [#3828](https://github.com/twosigma/beaker-notebook/issues/3828), [#3355](https://github.com/twosigma/beaker-notebook/issues/3355).
    * Java no longer confused by comments, errors not mangled, interfaces and static imports supported [#3768](https://github.com/twosigma/beaker-notebook/issues/3768), [#3760](https://github.com/twosigma/beaker-notebook/issues/3760), [#3762](https://github.com/twosigma/beaker-notebook/issues/3762), [#3761](https://github.com/twosigma/beaker-notebook/issues/3761).
    * Language manager improvements: warn about closing without saving, tooltips with documentation, progress feedback during changes, API access to language settings [#2982](https://github.com/twosigma/beaker-notebook/issues/2982), [#3677](https://github.com/twosigma/beaker-notebook/issues/3677), [#2613](https://github.com/twosigma/beaker-notebook/issues/2613), [#3727](https://github.com/twosigma/beaker-notebook/issues/3727), [#3562](https://github.com/twosigma/beaker-notebook/issues/3562), [#3479](https://github.com/twosigma/beaker-notebook/issues/3479), [#2972](https://github.com/twosigma/beaker-notebook/issues/2972).
    * HTML cells now handle `<textarea>` elements [#3436](https://github.com/twosigma/beaker-notebook/issues/3436).
    * Code editing changed to word-wrap by default (but you can still set any cell back to scroll with the menu) [#3423](https://github.com/twosigma/beaker-notebook/issues/3423), [#3704](https://github.com/twosigma/beaker-notebook/issues/3704).
    * For a complete list of the 286 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2016-01-22..2016-04-22).

    ####  1.5.2 - 2016.03.07 (1.5.3 for Electron versions)

    * Security fix to XSRF bug [#3627](https://github.com/twosigma/beaker-notebook/issues/3627).

    ####  1.5.1 - 2016.01.22

    * ESC or clicking away the "File Exists" dialog is broken [#3395](https://github.com/twosigma/beaker-notebook/issues/3395).
    * In ambiance theme, dangerous buttons should be red [#3384](https://github.com/twosigma/beaker-notebook/issues/3384).
    * Fixed CategoryLines style [#3387](https://github.com/twosigma/beaker-notebook/issues/3387).
    * Fixed Stems style [#3381](https://github.com/twosigma/beaker-notebook/issues/3381).
    * Fixed cumulative flag when normed flag set on histograms [#3407](https://github.com/twosigma/beaker-notebook/issues/3407).
    * Make logo color a parameter [#3088](https://github.com/twosigma/beaker-notebook/issues/3088).
    * Fixed plot resize thumb in ambiance theme [#3392](https://github.com/twosigma/beaker-notebook/issues/3392).
    * Fixed changing theme marks notebook as edited [#3385](https://github.com/twosigma/beaker-notebook/issues/3385).

    ####  1.5 - 2016.01.17

    * Add a [light-on-dark](https://twitter.com/beakernotebook/status/682233629460795393) theme (ambiance) [#2830](https://github.com/twosigma/beaker-notebook/issues/2830).
    * Add [Lua/Torch](https://pub.beakernotebook.com/publications/56841828-95ab-49ed-bd02-8965c914bbd5?fullscreen=false) support [#1060](https://github.com/twosigma/beaker-notebook/issues/1060).
    * Improve [Clojure](https://pub.beakernotebook.com/publications/560b4e07-6785-4cc1-95d6-bde1ab80ff8f) support, including autotranslation, autocomplete, namespaces, and require [#2475](https://github.com/twosigma/beaker-notebook/issues/2475), [#2478](https://github.com/twosigma/beaker-notebook/issues/2478), [#2476](https://github.com/twosigma/beaker-notebook/issues/2476).
    * Add [autotranslation](https://pub.beakernotebook.com/publications/560b4c5e-ace8-459d-aaf7-1e78b22dce12?fullscreen=false) to Julia [#815](https://github.com/twosigma/beaker-notebook/issues/815).
    * Add many native chart types ([bar charts](https://pub.beakernotebook.com/publications/569d744e-a456-44cd-a1e4-5e3744db1869?fullscreen=true), [histograms](https://pub.beakernotebook.com/publications/569d7600-833d-4d95-a330-5ec8c1578b84?fullscreen=true), [heat maps](https://pub.beakernotebook.com/publications/569d770f-9949-4d84-ae1b-2087d3398448?fullscreen=true), and [tree maps](https://pub.beakernotebook.com/publications/569d77a7-ad09-4958-ad97-eca4316695a9?fullscreen=true)).
    * Support NanoPlots with nanosecond resolution (64-bit integers in in this circumstance JS).
    * Layout Managers for [Output Containers](https://pub.beakernotebook.com/publications/56947b5d-26f2-4c79-9a1d-17e4912f7734) (columns, tabbed, cycling, dashboards, and stacked) [#2997](https://github.com/twosigma/beaker-notebook/issues/2997).
    * 10x faster opening of large notebooks [#2334](https://github.com/twosigma/beaker-notebook/issues/2334).
    * Fixed time plot labels [#3061](https://github.com/twosigma/beaker-notebook/issues/3061), [#3052](https://github.com/twosigma/beaker-notebook/issues/3052).
    * Portable version for Windows, run self-contained on thumb drive [#2779](https://github.com/twosigma/beaker-notebook/issues/2779).
    * Fix server disconnection problem [#2946](https://github.com/twosigma/beaker-notebook/issues/2946).
    * Added Sublime code editing key bindings option [#2993](https://github.com/twosigma/beaker-notebook/issues/2993).
    * Plotly works in R without iframe [#3053](https://github.com/twosigma/beaker-notebook/issues/3053).
    * Fix Scala on Windows [#3292](https://github.com/twosigma/beaker-notebook/issues/3292).
    * Fix Kdb on Windows [#3371](https://github.com/twosigma/beaker-notebook/issues/3371).
    * Many fixes for Electron versions.
    * For a complete list of the 447 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2015-10-01..2016-01-17).
    
    ####  1.4.2 - 2015.10.20

    * Fix IRuby backend in Docker [#2644](https://github.com/twosigma/beaker-notebook/issues/2644).
    * Allow unlisted publications [#2588](https://github.com/twosigma/beaker-notebook/issues/2588).
    * Fix handling of Groovy [null] [#2646](https://github.com/twosigma/beaker-notebook/issues/2646).
    * Raised autotranslation limit to 16MB [#2652](https://github.com/twosigma/beaker-notebook/pull/2652).
    * Fixed Auto-complete on Windows in Groovy [#2687](https://github.com/twosigma/beaker-notebook/issues/2687).
    * Improve error reporting on Python version mismatch [#2723](https://github.com/twosigma/beaker-notebook/issues/2723).
    * Fix link to documentation on case-sensitive filesystems [#2749](https://github.com/twosigma/beaker-notebook/issues/2749).
    * On Windows, allow saving to drives other than C: [#2685](https://github.com/twosigma/beaker-notebook/issues/2685).
    * Fix section numbering in hierarchy view [#2689](https://github.com/twosigma/beaker-notebook/issues/2689).

    ####  1.4.1 - 2015.10.06

    * Fix Python in Docker container [#2591](https://github.com/twosigma/beaker-notebook/issues/2591).
    * Fix language prefs path on Windows [#2622](https://github.com/twosigma/beaker-notebook/issues/2622).
    * LaTeX not enabled by default [#2618](https://github.com/twosigma/beaker-notebook/issues/2618).
    * Fix Windows Electron process leak [#2555](https://github.com/twosigma/beaker-notebook/issues/2555).

    ####  1.4 - 2015.10.01

    * Support [C++](https://pub.beakernotebook.com/publications/560b4ea6-5a57-4298-84e3-a3057c1ee4b4?fullscreen=true) and [SQL](https://pub.beakernotebook.com/publications/560b4a2f-546b-4929-acd7-0d47365b896e?fullscreen=true).
    * Support [Scala Spark](https://pub.beakernotebook.com/publications/560cb7e9-68b4-4659-9863-ce5d6ce93dd4?fullscreen=true).
    * Support [IPython widgets](https://pub.beakernotebook.com/publications/560d93db-8940-42aa-aeb0-b0fd1af81b3b?fullscreen=true).
    * Support [ggvis](https://pub.beakernotebook.com/publications/560ca254-071b-4647-8073-c4f941ca02e8?fullscreen=true) and [bokeh](https://pub.beakernotebook.com/publications/560ca17d-b941-4607-8f8e-dd2d5820a131?fullscreen=true).
    * New [publication server](http://pub.beakernotebook.com).
    * Add [EasyForm API](https://pub.beakernotebook.com/publications/560ca655-12df-43b9-9ecd-5714766b8fc4?fullscreen=true).
    * Many improvements to the native [time-series plotting API](https://github.com/twosigma/beaker-notebook/issues/1458).
    * New experimental native [Electron builds](https://github.com/twosigma/beaker-notebook/wiki/Electron-Beaker).
    * Supports IPython 4.0 protocol (except we have a regression of [4.0 and Docker](https://github.com/twosigma/beaker-notebook/issues/2591), so watch for 1.4.1).
    * Consistent use the [Roboto Mono typeface](https://www.google.com/fonts/specimen/Roboto+Mono) for code.
    * [Template expansion](https://pub.beakernotebook.com/publications/560b54da-3c14-4890-8b64-b204bc798320?fullscreen=true) in text cells.
    * Improved UI for [inserting cells](https://github.com/twosigma/beaker-notebook/issues/1799#issuecomment-145197219).
    * Improved UI for [hierarchy view](https://github.com/twosigma/beaker-notebook/issues/470#issuecomment-128892348).
    * New key command to evaluate code line-by-line, or evaluate any selected snippet of code [#2181](https://github.com/twosigma/beaker-notebook/issues/2181).
    * Support for displaying [docstrings](https://github.com/twosigma/beaker-notebook/issues/1501#issuecomment-145198624) in Python.
    * For a complete list of the 341 resolved issues, see [github](https://github.com/twosigma/beaker-notebook/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+closed%3A2015-07-01..2015-10-01).

    ####  1.3.4 - 2015.08.07

    * Fix compatibility with IPython 3.2.1 [#2003](https://github.com/twosigma/beaker-notebook/issues/2003).
    * Fix R outputing graphics and value at the same time [#2020](https://github.com/twosigma/beaker-notebook/issues/2020).
    * Update Ruby to work with latest version [#1990](https://github.com/twosigma/beaker-notebook/issues/1990).
    * Allow iframes in HTML [#1925](https://github.com/twosigma/beaker-notebook/issues/1925).

    ####  1.3.3 - 2015.07.24

    * Fix IPython in Safari [#1952](https://github.com/twosigma/beaker-notebook/issues/1952).

    ####  1.3.2 - 2015.07.11

    * Fix R in the Docker Container [#1918](https://github.com/twosigma/beaker-notebook/issues/1918).
    
    ####  1.3.1 - 2015.06.26

    * Documentation improvements, especially the dashboard tutorial.
    * Fix tab at beginning of line [#1862](https://github.com/twosigma/beaker-notebook/issues/1862).
    * Fix Scala class loader concurrency bug [#1855](https://github.com/twosigma/beaker-notebook/issues/1855).

    ####  1.3 - 2015.06.26

    * Support PySpark and SparkR [#1521](https://github.com/twosigma/beaker-notebook/issues/1521).
    * Support Clojure and Kdb.
    * Autotranslation improvements such as autodecting date/times, dataframes, images, etc [#522](https://github.com/twosigma/beaker-notebook/issues/522), [#1412](https://github.com/twosigma/beaker-notebook/issues/1412), [#1522](https://github.com/twosigma/beaker-notebook/issues/1522), [#1525](https://github.com/twosigma/beaker-notebook/issues/1525), [#1664](https://github.com/twosigma/beaker-notebook/issues/1664).
    * New directory for generating files you can access from HTML. [#708](https://github.com/twosigma/beaker-notebook/issues/708), [#1371](https://github.com/twosigma/beaker-notebook/issues/1371).
    * New editor for text cells and section headers, adding inline math, and fixing bugs with special characters and supporting vim mode [#125](https://github.com/twosigma/beaker-notebook/issues/125), [#555](https://github.com/twosigma/beaker-notebook/issues/555), [#704](https://github.com/twosigma/beaker-notebook/issues/704), [#1315](https://github.com/twosigma/beaker-notebook/issues/1315), [#1345](https://github.com/twosigma/beaker-notebook/issues/1345), [1362](https://github.com/twosigma/beaker-notebook/issues/1362), [#1407](https://github.com/twosigma/beaker-notebook/issues/1407).
    * New data frame interface, including column formatting options [#818](https://github.com/twosigma/beaker-notebook/issues/818), [#1270](https://github.com/twosigma/beaker-notebook/issues/1270), [#1279](https://github.com/twosigma/beaker-notebook/issues/1279), [#1437](https://github.com/twosigma/beaker-notebook/issues/1437), [#1599](https://github.com/twosigma/beaker-notebook/issues/1599), [#1668](https://github.com/twosigma/beaker-notebook/issues/1668), [#1715](https://github.com/twosigma/beaker-notebook/issues/1715).
    * New insert cell button in advanced mode [#1241](https://github.com/twosigma/beaker-notebook/issues/1241).
    * Restore IRuby [#1129](https://github.com/twosigma/beaker-notebook/issues/1129).
    * IPython handle laptops going to sleep. [#1576](https://github.com/twosigma/beaker-notebook/issues/1576).
    * Allow editing default imports of Python [#1188](https://github.com/twosigma/beaker-notebook/issues/1188).
    * Improved JavaScript stack traces [#889](https://github.com/twosigma/beaker-notebook/issues/889), [#1357](https://github.com/twosigma/beaker-notebook/issues/1357).
    * Add printing to cell output from JavaScript [#333](https://github.com/twosigma/beaker-notebook/issues/333).
    * Improved key-bindings, autoindent, and autocomplete [#1365](https://github.com/twosigma/beaker-notebook/issues/1365), [#1467](https://github.com/twosigma/beaker-notebook/issues/1467), [#1468](https://github.com/twosigma/beaker-notebook/issues/1468), [#1505](https://github.com/twosigma/beaker-notebook/issues/1505), [#1649](https://github.com/twosigma/beaker-notebook/issues/1649), [#1661](https://github.com/twosigma/beaker-notebook/issues/1661), [#1670](https://github.com/twosigma/beaker-notebook/issues/1670), [#1773](https://github.com/twosigma/beaker-notebook/issues/1773).
    * Much faster math (TeX) rendering via KaTeX [#698](https://github.com/twosigma/beaker-notebook/issues/698).
    * Handle very large charts from R [#1540](https://github.com/twosigma/beaker-notebook/issues/1540).
    * Better handling of output from R [#1612](https://github.com/twosigma/beaker-notebook/issues/1612), [#1622](https://github.com/twosigma/beaker-notebook/issues/1622).
    * Improved vertical density, especially of advanced mode [#578](https://github.com/twosigma/beaker-notebook/issues/578), [#1360](https://github.com/twosigma/beaker-notebook/issues/1360), [#1483](https://github.com/twosigma/beaker-notebook/issues/1483), [#1565](https://github.com/twosigma/beaker-notebook/issues/1565), [#1566](https://github.com/twosigma/beaker-notebook/issues/1566).
    * Increase and improve the included tutorial documentation, and the website [#1400](https://github.com/twosigma/beaker-notebook/issues/1400), [#1528](https://github.com/twosigma/beaker-notebook/issues/1528), [#1604](https://github.com/twosigma/beaker-notebook/issues/1604), [#1642](https://github.com/twosigma/beaker-notebook/issues/1642), [#1775](https://github.com/twosigma/beaker-notebook/issues/1775), [#1784](https://github.com/twosigma/beaker-notebook/issues/1784), [#1785](https://github.com/twosigma/beaker-notebook/issues/1785), [#1833](https://github.com/twosigma/beaker-notebook/issues/1833).
    * Misc UI and layout [#455](https://github.com/twosigma/beaker-notebook/issues/455), [#569](https://github.com/twosigma/beaker-notebook/issues/569), [#577](https://github.com/twosigma/beaker-notebook/issues/577), [#676](https://github.com/twosigma/beaker-notebook/issues/676), [#1200](https://github.com/twosigma/beaker-notebook/issues/1200) [#1363](https://github.com/twosigma/beaker-notebook/issues/1363), [#1382](https://github.com/twosigma/beaker-notebook/issues/1382), [#1403](https://github.com/twosigma/beaker-notebook/issues/1408), [#1420](https://github.com/twosigma/beaker-notebook/issues/1420), [#1421](https://github.com/twosigma/beaker-notebook/issues/1421), [#1422](https://github.com/twosigma/beaker-notebook/issues/1422), [#1423](https://github.com/twosigma/beaker-notebook/issues/1423), [#1430](https://github.com/twosigma/beaker-notebook/issues/1430), [#1493](https://github.com/twosigma/beaker-notebook/issues/1493), [#1494](https://github.com/twosigma/beaker-notebook/issues/1494), [#1568](https://github.com/twosigma/beaker-notebook/issues/1568), [#1571](https://github.com/twosigma/beaker-notebook/issues/1571), [#1574](https://github.com/twosigma/beaker-notebook/issues/1574), [#1608](https://github.com/twosigma/beaker-notebook/issues/1608), [#1627](https://github.com/twosigma/beaker-notebook/issues/1627), [#1631](https://github.com/twosigma/beaker-notebook/issues/1631), [#1646](https://github.com/twosigma/beaker-notebook/issues/1646), [#1675](https://github.com/twosigma/beaker-notebook/issues/1675), [#1737](https://github.com/twosigma/beaker-notebook/issues/1737), [#1774](https://github.com/twosigma/beaker-notebook/issues/1774), [#1807](https://github.com/twosigma/beaker-notebook/issues/1807).
    * Fixed cookies leak that caused IPython to stop working after extended use [#750](https://github.com/twosigma/beaker-notebook/issues/750).
    * Add attribution page as required by some licenses [#1733](https://github.com/twosigma/beaker-notebook/issues/1733).
    * Infrastructure improvements like concatenating the JS into fewer files, and upgrading from Java 7 to 8 [#409](https://github.com/twosigma/beaker-notebook/issues/409), [#897](https://github.com/twosigma/beaker-notebook/issues/897), [#1229](https://github.com/twosigma/beaker-notebook/issues/1229), [#1384](https://github.com/twosigma/beaker-notebook/issues/1384), [#1388](https://github.com/twosigma/beaker-notebook/issues/1388), [#1445](https://github.com/twosigma/beaker-notebook/issues/1445), [#1463](https://github.com/twosigma/beaker-notebook/issues/1463), [#1600](https://github.com/twosigma/beaker-notebook/issues/1600), [#1619](https://github.com/twosigma/beaker-notebook/issues/1619), [#1703](https://github.com/twosigma/beaker-notebook/issues/1703), [#1734](https://github.com/twosigma/beaker-notebook/issues/1734).
    * JQuery creates circular notebook and crashes [#891](https://github.com/twosigma/beaker-notebook/issues/891), [#1409](https://github.com/twosigma/beaker-notebook/issues/1409).
    * Fix proxy confusion, limit authentication headers [#1366](https://github.com/twosigma/beaker-notebook/issues/1366).
    * Other fixes: [#1438](https://github.com/twosigma/beaker-notebook/issues/1438), [#1484](https://github.com/twosigma/beaker-notebook/issues/1484), [#1485](https://github.com/twosigma/beaker-notebook/issues/1485), [#1503](https://github.com/twosigma/beaker-notebook/issues/1503), [#1678](https://github.com/twosigma/beaker-notebook/issues/1678), [#1691](https://github.com/twosigma/beaker-notebook/issues/1691), [#1711](https://github.com/twosigma/beaker-notebook/issues/1711).

    ####  1.2.1 - 2015.03.29

    * Fix Autocompletion when using IPython3 [#1351](https://github.com/twosigma/beaker-notebook/issues/1351).
 
    ####  1.2 - 2015.03.27

    * Support Scala and Java, including sharing classes with Groovy.
    * Support running Python2 and Python3 at the same time, even with different versions of IPython [#776](https://github.com/twosigma/beaker-notebook/issues/776).
    * Allow user to select location of language backend from their beaker.prefs.json file, as well as the options passed to it [#1166](https://github.com/twosigma/beaker-notebook/issues/1166).
    * Works with IPython3 (in addtion to 1 and 2) [#1222](https://github.com/twosigma/beaker-notebook/issues/1222).
    * Works with Mac OS 10.6 and 10.7 [#408](https://github.com/twosigma/beaker-notebook/issues/408).
    * Works on Macs with old chipsets [#398](https://github.com/twosigma/beaker-notebook/issues/398), [#982](https://github.com/twosigma/beaker-notebook/issues/982).
    * Better error reporting from missing backend [#1180](https://github.com/twosigma/beaker-notebook/issues/1180), [#880](https://github.com/twosigma/beaker-notebook/issues/880), 
    * New API for progress reporting during cell evaluation [#910](https://github.com/twosigma/beaker-notebook/issues/910).
    * New API for fullscreen dashboards [#1025](https://github.com/twosigma/beaker-notebook/issues/1025).
    * New API for reflection (access to other cells source code and results) and control (cell evaluation can trigger evaluation of other cells).
    * Standard output and error output now appear below the cell that produced them instead of in a unified panel [#667](https://github.com/twosigma/beaker-notebook/issues/667), [#937](https://github.com/twosigma/beaker-notebook/issues/937).
    * Add tutorial for loading external JavaScript libraries, in particular p5.js [#1176](https://github.com/twosigma/beaker-notebook/issues/1176).
    * Allow sharing and saving `<canvas>` elements [#1075](https://github.com/twosigma/beaker-notebook/issues/1075).
    * Handle installation and user paths with spaces [#931](https://github.com/twosigma/beaker-notebook/issues/931).
    * Fix JavaScript injection problem on shared notebooks [#862](https://github.com/twosigma/beaker-notebook/issues/862).
    * New View menu item "close all sections" [#872](https://github.com/twosigma/beaker-notebook/issues/872).
    * Upload notebooks with native file dialog or drag-and-drop [#830](https://github.com/twosigma/beaker-notebook/issues/830), [#857](https://github.com/twosigma/beaker-notebook/issues/857), [#1116](https://github.com/twosigma/beaker-notebook/issues/1116).
    * Improved Language Manager UI.
    * Use scss to improve modularity of styles [#1071](https://github.com/twosigma/beaker-notebook/issues/1071).
    * Support ipynb section headings during import [#1015](https://github.com/twosigma/beaker-notebook/issues/1015).
    * Subsections numbered from 1 instead of 0 [#629](https://github.com/twosigma/beaker-notebook/issues/629).
    * Groovy evaluation is interruptible [#560](https://github.com/twosigma/beaker-notebook/issues/560).
    * Add progress indicator to sharing [#383](https://github.com/twosigma/beaker-notebook/issues/383).
    * UI for tagging cells [#403](https://github.com/twosigma/beaker-notebook/issues/403).
    * R plots made with ggplot2 work on Firefox [#987](https://github.com/twosigma/beaker-notebook/issues/987)
    * On Windows find R via the registry instead of the PATH [#1178](https://github.com/twosigma/beaker-notebook/issues/1178).
    * Improved file open and save dialogs [#904](https://github.com/twosigma/beaker-notebook/issues/904), [#1016](https://github.com/twosigma/beaker-notebook/issues/1016), [#1017](https://github.com/twosigma/beaker-notebook/issues/1017), [#1061](https://github.com/twosigma/beaker-notebook/issues/1061), [#1158](https://github.com/twosigma/beaker-notebook/issues/1158), [#1159](https://github.com/twosigma/beaker-notebook/issues/1159), [#1161](https://github.com/twosigma/beaker-notebook/issues/1161).
    * Massive UI polish [#672](https://github.com/twosigma/beaker-notebook/issues/672), [#673](https://github.com/twosigma/beaker-notebook/issues/673), [#747](https://github.com/twosigma/beaker-notebook/issues/747), [#772](https://github.com/twosigma/beaker-notebook/issues/772), [#819](https://github.com/twosigma/beaker-notebook/issues/819), [#854](https://github.com/twosigma/beaker-notebook/issues/854), [#856](https://github.com/twosigma/beaker-notebook/issues/856), [#874](https://github.com/twosigma/beaker-notebook/issues/874), [#902](https://github.com/twosigma/beaker-notebook/issues/902), [#906](https://github.com/twosigma/beaker-notebook/issues/906), [#968](https://github.com/twosigma/beaker-notebook/issues/968), [#970](https://github.com/twosigma/beaker-notebook/issues/970), [#972](https://github.com/twosigma/beaker-notebook/issues/972), [#990](https://github.com/twosigma/beaker-notebook/issues/990), [#1027](https://github.com/twosigma/beaker-notebook/issues/1027), [#1045](https://github.com/twosigma/beaker-notebook/issues/1045), [#1047](https://github.com/twosigma/beaker-notebook/issues/1047), [#1053](https://github.com/twosigma/beaker-notebook/issues/1053), [#1062](https://github.com/twosigma/beaker-notebook/issues/1062), [#1070](https://github.com/twosigma/beaker-notebook/issues/1070), [#1119](https://github.com/twosigma/beaker-notebook/issues/1119), [#1130](https://github.com/twosigma/beaker-notebook/issues/1130), [#1139](https://github.com/twosigma/beaker-notebook/issues/1139).

    ####  1.1.2 - 2014.11.5

    * Fix problem where a missing backend prevents the whole notebook from loading [#836](https://github.com/twosigma/beaker-notebook/issues/836), [#845](https://github.com/twosigma/beaker-notebook/issues/845)
    * And on 2014.11.11 made a new build of windows, still version 1.1.2 but packaged correctly to fix [#853](https://github.com/twosigma/beaker-notebook/issues/853)
    * And on 2015.01.16 made a new build of mac, still version 1.1.2 but with a hotfix for [#824](https://github.com/twosigma/beaker-notebook/issues/824)

    ####  1.1.1 - 2014.10.31

    * Fix problem with defining functions in R [#827](https://github.com/twosigma/beaker-notebook/issues/827)

    ####  1.1 - 2014.10.30

    * New table (dataframe) display [#716](https://github.com/twosigma/beaker-notebook/issues/716), [#717](https://github.com/twosigma/beaker-notebook/issues/717), [#735](https://github.com/twosigma/beaker-notebook/issues/735), [#432](https://github.com/twosigma/beaker-notebook/issues/432), [#270](https://github.com/twosigma/beaker-notebook/issues/270), [#760](https://github.com/twosigma/beaker-notebook/issues/760), [#777](https://github.com/twosigma/beaker-notebook/issues/777)
    * Able to open larger notebooks without freezing by loading plugins before rendering the notebook (however the downside of this is you can't see the notebook while the plugins load) [#751](https://github.com/twosigma/beaker-notebook/pull/751)
    * Most keyboard commands (especially command-enter to run the current cell) can now be accessed with command key, not just control (for Mac users) [#220](https://github.com/twosigma/beaker-notebook/issues/220), [#778](https://github.com/twosigma/beaker-notebook/issues/778)
    * Python3 support [#695](https://github.com/twosigma/beaker-notebook/issues/695), [#740](https://github.com/twosigma/beaker-notebook/issues/740)
    * Direct access to autotranslation in python without a function call (`beaker.x` instead of `beaker.get("x")`) [#675](https://github.com/twosigma/beaker-notebook/issues/675)
    * Add the ability to control the size of R plots [#707](https://github.com/twosigma/beaker-notebook/issues/707)
    * Correctly suppress invisible results from R [#232](https://github.com/twosigma/beaker-notebook/issues/232)
    * Add the ability to share d3 plots [#691](https://github.com/twosigma/beaker-notebook/issues/691)
    * Replace the d3 tutorial, various tutorial polish [#685](https://github.com/twosigma/beaker-notebook/issues/685), [#729](https://github.com/twosigma/beaker-notebook/issues/729), [#730](https://github.com/twosigma/beaker-notebook/issues/730), [#732](https://github.com/twosigma/beaker-notebook/issues/732), [#754](https://github.com/twosigma/beaker-notebook/issues/754), [#790](https://github.com/twosigma/beaker-notebook/issues/790)
    * Do not hide "falsey" evaluation results [#444](https://github.com/twosigma/beaker-notebook/issues/444)
    * Fixed Docker container port remapping and Python plugin [#702](https://github.com/twosigma/beaker-notebook/issues/702)
    * Sharing server now supports levels of detail and section toggling
    * Sharing server URL location is configurable [#769](https://github.com/twosigma/beaker-notebook/issues/769)
    * Fixed display of dataframes in python mangled by pandas groupby operation [#694](https://github.com/twosigma/beaker-notebook/issues/694)
    * Interaction state of plots and tables saved in the notebook and shareable [#413](https://github.com/twosigma/beaker-notebook/issues/413)
    * Remove deprecated --pylab option from IPython [#165](https://github.com/twosigma/beaker-notebook/issues/165)
    * When loading a plugin from a cross-origin URL, show a dialog warning the user that it could be unsafe [#144](https://github.com/twosigma/beaker-notebook/issues/144)
    * Better cache busting method (so you should not have to clear the cache when you upgrade Beaker) [#742](https://github.com/twosigma/beaker-notebook/issues/742)
    * Changed short name of Groovy from Gr to Gv [#687](https://github.com/twosigma/beaker-notebook/issues/687)
    * Avoid Java icon in dock [#688](https://github.com/twosigma/beaker-notebook/issues/688)
    * Improve plot handling of NaNs [#697](https://github.com/twosigma/beaker-notebook/issues/697)
    * New icon, favicon, and branding [#755](https://github.com/twosigma/beaker-notebook/issues/755)
    * Update JRE from 7u60 to 7u71
    
    ####  1.0 - 2014.09.24

    * Redesigned UI that is beautiful and easier to use.
    * Autotranslation of data between languages.
    * Interactive charting, including with levels-of-detail.
    * Docker container for easy deployment.
    * Detect when connection to server is lost and give extra chance to
      save the notebook.
    * Plugin manager allows removing languages from a notebook.
    * Security fix for Julia on multiuser systems.
    * Removed Ruby from plugin manager because it is insecure on
      multiuser systems (but it can still be added by entering its URL).
    * Rewrite tutorials.
    * Numerous bug fixes.
    * Groovy supports classpath to access JARS, and default imports.
    * R supports interrupting evaluations.


    ####  0.55 - 2014.07.17
    
    * Major upgrade of the security model: backends are now protected even on multi-user systems.
    * Add public server option so that you can access Beaker over the internet, not just locally. Includes HTTPS encryption.
    * Refactor the JavaScript to conform to Angular guidelines.
    * Improve file load/save dialogs to be easier to use and handle errors.
    * Shared notebooks can be downloaded from the resulting share page, and the sharing viewer can open a notebook file hosted anywhere.
    * On Mac, add a native application to wrap and launch the web app. The native app includes the JRE, eliminating an external dependency for users.
    * On Windows, include the JRE, nginx, and python in our distribution.
    * On Ubuntu, include a script to install all dependencies and language plugins.


    #### 0.52.4 - 2014.05.03

    * Security fix: close ports to external access.


    #### 0.52.1 - 2014.05.02

    * Fix loading nginx dynamic libraries on Mac.


    #### 0.52 - 2014.04.29

    * First public release.
