h2.block Overview and Demo at SciPy 2015

.block(style="text-align: center")
  iframe.youtube(width="100%" height="315" src="//www.youtube.com/embed/iMPfLz6kKv8" frameborder="0" allowfullscreen)

h2.block Overview and Demo at PyData 2014

.block(style="text-align: center")
  iframe.youtube(width="100%" height="315" src="//www.youtube.com/embed/wu65cYffMSg" frameborder="0" allowfullscreen)

h2.block SparkR Demo at Spark Summit

.block(style="text-align: center")
  iframe.youtube(width="100%" height="315" src="//www.youtube.com/embed/e5KerO_xg1w?t=627" frameborder="0" allowfullscreen)
