.career
  .headline
    font-family: $font-family-primary-bold
    padding-bottom: 20px

  .full-link
    display: inline-block
    margin-top: 10px

  .apply
    width: 100%
    margin-top: 20px
    font-family: $font-family-primary-bold
    text-align: center

  .detail
    margin-bottom: 4px
    font-size: 14px
    .label
      font-style: italic
      display: inline-block
      margin-right: 10px

    .value
      color: $green

  .col-1-4
      padding-left: 10px

  .markdown ul
    margin-top: 10px
