*[class*="col"]
  float: left

.col-2-3
  width: 66.66%

.col-1-3
  width: 33.33%

.col-1-2
  width: 50%

  .padded &
    padding-bottom: 30px
    &:nth-child(even)
      padding-left: 15px
    &:nth-child(odd)
      padding-right: 15px
