.example
  p.author
    color: $green

  p.tagline
    font-style: italic
    margin-bottom: 20px

  .languages
    margin-top: 20px

  .language
    margin: 0
    margin-right: 10px
    height: auto
    .lang-block
      font-size: 20px
      height: 40px
      width: 40px
      line-height: 45px
