.footer
  margin-top: 84px
  background: #2C4358
  color: #FFF

  p
    color: #FFF
    font-size: 12px
    line-height: 150%

.footer-links
  text-transform: uppercase
  font-family: $font-family-primary-bold
  line-height: 222%
  font-size: 14px

  a, a:active, a:visited
    color: #FFF
    text-decoration: none
