.graph-headline
  font-family:    $font-family-primary-bold
  text-transform: uppercase

.platforms.getting-started li
  margin:      0 5%
  padding-top: 43px

  &.linux
    background: url('../img/linux@2x.png') no-repeat center top
    background-size: 44px
    &.active, &:hover
      background-image: url('../img/linux-active@2x.png')

  &.mac
    background: url('../img/mac@2x.png') no-repeat center top
    background-size: 35px
    &.active, &:hover
      background-image: url('../img/mac-active@2x.png')

  &.windows
    background: url('../img/windows@2x.png') no-repeat center top
    background-size: 45px
    &.active, &:hover
      background-image: url('../img/windows-active@2x.png')

.components
  .lang-block
    width: 70px
  > li
    margin-bottom: 44px

.language-details
  margin-left: 20px

.language-headline
  margin-bottom: 10px
  display: inline-block

.current-version
  margin-top: 20px
  color: $green
  font-family:    $font-family-primary-bold

.getting-started-features
  list-style: initial
  margin: -30px 15px
  font-size: 17px
  line-height: 29px

.getting-started.platforms li
  cursor: pointer
