.graph-headline
  font-family:    $font-family-primary-bold
  text-transform: uppercase

.platforms.getting-started li
  margin: 0 5%

.components
  .lang-block
    width: 70px
  > li
    margin-bottom: 44px

.language-details
  margin-left: 20px

.language-headline
  margin-bottom: 10px
  display: inline-block

.current-version
  margin-top: 20px
  color: $green
  font-family:    $font-family-primary-bold

.getting-started-features
  list-style: initial
  margin: -30px 15px
  font-size: 17px
  line-height: 29px
