.header-copy
  padding-top: 5px
  line-height: 140%
  font-family: $font-family-primary-bold
  font-size: 17px

.header
  height: 526px
  background: url("../img/hero.jpg") center center no-repeat;
  color: #FFF
  background-size: cover;

.follow
  text-align: right
  float: right

  p
    font-family: $font-family-primary-bold
    margin-left: 10px;
    text-align: left;

.cta
  margin-top: 117px
  font-family: $font-family-primary-bold
  padding-right: 11%

.social-icons
  li
    float: left
    margin: 5px 10px

  img
    height: 21px

.header-content
  margin-top: 200px

.main-logo
  left: -74px
  transition: left 250ms ease
  position: relative
  @media (max-width: 1050px)
    left: 0

  h1
    display: inline-block
    font-family: 'pt_sansbold', Helvetica, sans-serif
    font-size: 72px
    margin-left: 15px
    margin-top: 14px
    text-transform: uppercase
    vertical-align: top

  span
    font-size: 7px
    margin-left: 4px
    position: relative
    top: -7px

  h2
    color: white
    display: inline-block
    font-family: 'pt_sansbold', Helvetica, sans-serif
    font-size: 22px
    left: 74px
    position: relative
    text-transform: uppercase
    @media (max-width: 800px)
      display: block
      left: 0

.cta
  text-align: right

.os-download
  width: 191px
  float: right
  margin-right: 14px
  a
    color: #c0c0c0
    text-decoration: none
    &:hover
      color: $blue

  li
    display: inline-block
    font-family: $font-family-primary-bold
    border-left: solid 2px #c0c0c0
    margin: 7px 0
    padding: 0 5px

    &:first-child
      border-left: 0
