.header-nav
  background: $green
  margin-bottom: -56px
  z-index: 1

  &.headroom--not-top
    position: fixed
    top: 0
    left: 0
    width: 100%

  .contain
    padding: 0

  ul li
    font-size: 14px
    color: #FFF
    text-transform: uppercase
    width: 16.667%
    display: inline-block
    text-align: center
    font-family: $font-family-primary-bold
    position: relative
    padding: 21px 0
    cursor: pointer

    &:hover
      background: darken($green, 5%)

    a, a:visited
      text-decoration: none
      color: #FFF
      font-weight: 600

    &.active
      &:before
        content: ""
        position: absolute
        top: 100%
        left: 50%
        width: 0
        height: 0
        border-left: 30px solid transparent
        border-right: 30px solid transparent
        border-top: 15px solid $green
        transform: translateX(-50%)

      &:hover
        &:before
          border-top: 15px solid darken($green, 5%)
