.header
  height: 526px
  background: url("../img/hero.png") center
  color: #FFF

.follow
  text-align: right
  float: right

  p
    font-family: $font-family-primary-bold
    margin-right: 7px

.social-icons
  li
    float: left
    margin: 5px 10px

  img
    height: 21px

.header-content
  margin-top: 200px

.main-logo
  max-width: 414px
  width: 100%
  transform: translateX(-15.9%)

.cta
  text-align: right

.os-download
  width: 191px
  float: right
  margin-right: 36px
  li
    display: inline-block
    color: #c0c0c0
    font-family: $font-family-primary-bold
    border-left: solid 2px #c0c0c0
    margin: 7px 0
    padding: 0 5px

    &:first-child
      border-left: 0
