.header-copy
  padding-top: 5px
  line-height: 140%
  font-family: $font-family-primary-bold
  font-size: 17px

.header
  height: 526px
  background: url("../img/hero.jpg") center center no-repeat;
  color: #FFF
  background-size: cover;

.follow
  text-align: right
  float: right

  p
    font-family: $font-family-primary-bold
    margin-right: 7px

.cta
  margin-top: 117px
  font-family: $font-family-primary-bold

.social-icons
  li
    float: left
    margin: 5px 10px

  img
    height: 21px

.header-content
  margin-top: 200px

.main-logo
  max-width: 414px
  width: 100%
  transform: translateX(-15.9%)

.cta
  text-align: right

.os-download
  width: 191px
  float: right
  margin-right: 14px
  li
    display: inline-block
    color: #c0c0c0
    font-family: $font-family-primary-bold
    border-left: solid 2px #c0c0c0
    margin: 7px 0
    padding: 0 5px

    &:first-child
      border-left: 0
