img[class*="-image"]
  width: 100%
  margin: 0 auto
  display: block

.notebook-image
  max-width: 930px

.translation-image
  max-width: 577px

.rich-viz-image
  max-width: 288px

.atom-image
  max-width: 110px

.os-image
  max-width: 153px

.publish-image
  max-width: 203px
