.language
  display: inline-block
  height: 65px
  width: 8%
  margin: 0 1.5%
  font-family: $font-family-primary-bold

  .label
    color: #585c60
    margin-top: 10px
    text-align: center
  &.html5
    .lang-block
      background: #e54f1f
  &.r
    .lang-block
      background: #8394bd

  &.julia
    .lang-block
      background: #6cad5a

  &.node
    .lang-block
      background: #8cc64b

  &.python
    .lang-block
      background: #efbe3a

  &.ruby
    .lang-block
      background: #b11400

  &.latex
    .lang-block
      color: #000

  &.javascript
    .lang-block
      background: #f0dd44
      color: #4a4a4a

  &.groovy
    .lang-block
      background: #6297aa

.lang-block
  text-align: center
  width: 100%
  height: 100%
  line-height: 70px
  font-size: 34px
  color: #FFF
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18)
