.markdown
  h2, h1
    margin: 48px 0

  h4, h3
    text-transform: uppercase
    font-family: $font-family-primary-bold
    margin-bottom: 20px

  ul
    line-height: 25px
    list-style: initial
    margin-bottom: 20px
    margin-left: 20px

  p
    font-size: 16px
    margin: 10px 0

  pre
    margin-bottom: 20px
    display: inline-block

  code, pre
    font-family: monospace
    background: #F6F6F6
    padding: 10px

  code
    line-height: 40px
    word-break: break-all

  strong
    font-family: $font-family-primary-bold
