.platforms
  max-width: 550px
  margin: 0 auto
  text-align: center

  li
    width: 16%
    display: inline-block
    position: relative

    img
      width: 32px

    .divider
      top: -48px
      width: 50%
      height: 51px
      position: absolute
      border-left: solid 1px #ccc
      left: 50%

    &.active
      border-bottom: solid 4px $blue
      padding-bottom: 20px;

      .label
        color: $blue

  .label
    margin-top: 15px
