.releases
  h2
    text-align: left
    margin-bottom: 10px

  h4
    font-family: $font-family-primary-bold
    margin-bottom: 20px
    color: #6B6B6B

  ul
    line-height: 25px
    list-style: initial
    margin-bottom: 20px
    margin-left: 20px
