$green                    = #6ab72a
$blue                     = #30A8F0
$font-family-primary      = 'pt_sansregular', Helvetica, sans-serif
$font-family-primary-bold = 'pt_sansbold', Helvetica, sans-serif
$font-family-light        = 'Open Sans', 'pt_sansbold', sans-serif;
