global-reset()

@import "_type"
@import "_variables"
@import "_columns"
@import "_header"
@import "_header_nav"
@import "_ui"
@import "_contents"
@import "_languages"
@import "_platforms"
@import "_footer"
@import "_images"
@import "_getting_started"
@import "_markdown"

*
  box-sizing: border-box

html
  -webkit-font-smoothing: antialiased
  font-family: $font-family-primary

.left
  float: left

.cl
  clear: both

.contain
  max-width: 960px
  margin: 0 auto
  padding: 25px
